[2017-12-20 11:01] jellonek opened #5 "Incorrect documentation"
README.md still has original form from time of fork from hustcat repo, while name of parameters was changed quite long time ago.

Correct example can be found in multus docs, but IMO README.md in this repo should also have at least rename of `master` to `if0` and so on.

[2018-02-13 14:48] ahalim-intel commented on #5
README.md has been updated with correct parameters.

[2018-02-13 14:48] #5 closed

[2018-03-07 10:39] Levovar opened #8 "Add capability of directly assigning PFs to Pods"
The original SRIOV-CNI was enhanced with the capability of directly assigning PFs to Pods:
https://github.com/hustcat/sriov-cni/commit/793ec5dcc67fc5ec54d4bd244461a7baf8950609

The use-cases -mostly TelCo related- mentioned by the commit are still valid, and could be satisfied with the merging of the code, and the introduction of the pfOnly configuration parameter.

The code could be further enhan

[2018-04-08 09:41] subrnath opened #11 "Issue with vlan"
i am using this plugin for Kubernetes POD having DPDK based application. There are 10 virtual functions defined for the physical NIC. For the first POD,  three virtual functions are allocated. First one is without any vlan tagging and second & third ones are defined with vlan fields.  POD came up fine and we can see three virtual functions are bind by uio_igb driver. "ip link show" commands show V

[2018-04-13 07:54] subrnath opened #12 "Debugging issue with sriov-cni"
We have created Custom Resource Definition for the K8S object "Network" and we use the sriov-cni plugin in the Network definition file.

1) Issue with the SRIOV plugin is that in case there is a mistake in Parent interface ( or Physical function ) definition as shown in "if0" below or similar mistake, POD comes up fine but no VF will be allocated to POD. it's difficult to debug the issue in this s

[2018-04-27 06:37] subrnath opened #13 "Host reboots During POD deployment with wrong values in sriov plugin fields"
We are using this sriov plugin for Kubernetes POD with DPDK application. It's found that if there is wrong value in the network files for the sriov, host server reboots during POD deployment. For example following is our yaml file for the network definition.

plugin: sriov
args: '[
                {
                "name": "<name>",
                "type": "sriov",
                "if0": "<interfa

[2018-06-11 17:12] rkamudhan commented on #11
@subrnath as you explained `we can see its allocates VF-0 for this second POD also and due to this connectivity of the first POD is broken`

Is this case in your deployment ? I don't think it will happen in our current implementation. Could you please confirm it ? because once the VF are bonded to uio_igb driver, they are no longer in kernel space. It is not possible for the SRIOV CNI to find VF0

[2018-06-11 17:17] rkamudhan commented on #12
As for as the coding is concern, https://github.com/Intel-Corp/sriov-cni/blob/master/sriov/sriov.go#L313

if `IF0` is not there, then SRIOV CNI should throw the error. Can you please send me, your `/etc/cni/net.d` directory content. There is possibility that your kubelet is picking different conf files instead of multus confs. I have seen this in various users deployment.

[2018-06-12 12:53] subrnath commented on #12
1. Here is our /etc/cni/net.d content
10-multus.conf
{
  "name": "multus-cni-network",
  "type": "multus",
  "kubeconfig": "/etc/kubernetes/kubelet.conf",
"delegates": [
    {
      "type": "flannel",
      "masterplugin": true,
      "delegate": {
        "isDefaultGateway": true
      }
    }
  ]
}
Point which we are trying to highlight over here is, if there is some mistake in the sriov network

[2018-06-12 13:11] rkamudhan commented on #12
@subrnath We planned to do log in Multus, we discussed the proposal in details during the kubernetes Network plumbing working group. You will see this features soon in the meta plugin - https://github.com/intel/multus-cni/tree/dev/network-plumbing-working-group-crd-change

[2018-06-12 13:12] rkamudhan commented on #12
This branch will merged to the multus master soon...

[2018-06-12 15:14] subrnath commented on #11
With Kubernetes v1.10.2, this issue is not seen. Hence closing this ticket.

[2018-06-12 15:14] #11 closed

[2018-06-14 13:03] subrnath commented on #12
OK. Thanks. I am closing the ticket now.

[2018-06-14 13:03] #12 closed

[2018-06-26 11:12] RahulG115 commented on #13
check whether particular driver is loaded or not after reboot using $lsmod |grep <driver name>

[2018-08-29 07:03] udrwt opened #18 "IPv6 on SR-IOV"
Hi,

If SR-IOV configured with multus, Does SR-IOV interface supports IPv6 only?

If i am trying to configure only IPv6, I am receiving below error.

[2018-09-21 12:50] pkdas opened #20 "releaseVF fails"
In releaseVF
- the VF is removed from DPDK
- the vlan is set to 0
Between these two operations the VF interface is switched to i40evf driver before vlan can be set to 0.
It appears if vlan is set before i40evf driver binding completes in the driver, the netlink.LinkSetVfVlan() fails and as a result the releaseVF returns without finishing up rest of the task.

**This keeps the VF in an unusable sta

[2018-10-27 04:32] subrnath opened #21 "sriov-ipam not working"
Kubernetes version 1.12 , Docker version - 1.13.1
SRIOV definition -

apiVersion: "k8s.cni.cncf.io/v1"
kind: NetworkAttachmentDefinition
metadata:
  name: sriov-ipam-1
spec:
  config: '{
      "cniVersion": "0.3.0",
      "LogFile": "/var/log/multus.log",
      "LogLevel": "debug",
      "name": "sriov-ipam-1",
      "type": "sriov",
      "if0": "ens12f1",
      "vlan": 1925,
      "ipam": {

[2018-10-29 08:59] subrnath commented on #21
Issue is fixed after removing the multus cni version ""cniVersion": "0.3.0", from the manifest.

[2018-10-29 08:59] #21 closed

[2018-11-13 15:08] pperiyasamy opened #23 "Can't bind VM interface as DPDK interface inside a k8s POD"
Binding VM's virtio interface (attached as vHost port to OVS running on the Host OS) as DPDK interface into K8S Pod is failing with following error.

"Failed create pod sandbox: rpc error: code = Unknown desc = failed to set up sandbox container "017d716ce70a585a7f23e38aaf463f058d3b396929d791204b9253ed58a27b29" network for pod "samplepod": NetworkPlugin cni failed to set up pod "samplepod_default"

[2018-11-14 10:32] pperiyasamy commented on #23
Now I have made following changes to the dpdk-conf network attachment configuration like below:

cat <<EOF | kubectl create -f -
apiVersion: "k8s.cni.cncf.io/v1"
kind: NetworkAttachmentDefinition
metadata:
  name: dpdk-conf
spec:
  config: '{
    "name": "mynet",
    "type": "sriov",
    "if0": "ens18",
    "ifname": "net0",
    "dpdk": {
        "pci_addr": "0000:00:12.0",
        "ifname": "net0

[2018-11-15 03:53] zshi-redhat commented on #23
@pperiyasamy hi, current sriov-cni is not implemented to support virtio interface yet, the failure above indicates that it cannot get the VF device name according to given VF pci address (even for dpdk config, this is required). Reason for that is the way we get VF name is only applied to SR-IOV VFs, not for virtio interface.

Plus. the code in dev/k8s-deviceid-model branch is intended to work tog

[2018-11-15 08:38] rkamudhan commented on #23
@pperiyasamy If you create additional interfaces in a VM it should be emulated as a interface inside a VM. So in this case, the virtio should be shown as a interface. Please check whether it showed there or not. if you do `ifconfig`

@zshi-redhat, we doing the same thing in the kuryr CNI DPDK plugin, Virtio interface is emulated as kernel interfaces inside a VM. We actually do the same implementat

[2018-11-15 09:02] zshi-redhat commented on #23
@rkamudhan Thanks for the context, I was not aware of how Kuryr CNI DPDK plugin does for virtio.
so you're suggesting that we expand current implementation(sriov device only) to also support virtio interface in dpdk mode?

[2018-11-15 12:02] ahalim-intel commented on #23
I'm not very familiar with virtio and the interface look like inside a VM. So, if an sriov nic is added as virtio device on a VM will appear as same sriov capable nic with all regular sysfs entries? If thats the case then there should not be any issues. If not then this plugin won't support it.

[2018-11-16 09:36] pperiyasamy commented on #23
@rkamudhan, @ahalim-intel, @zshi-redhat , Thanks a lot for your response.

Yes, The PCI address net directory for virtio is located at /sys/devices/pci0000:00/<pci_addr>/virtio<vfId>/net/. Now this virtio interface can be attached to K8S POD container with following configuration.

apiVersion: "k8s.cni.cncf.io/v1"
kind: NetworkAttachmentDefinition
metadata:
  name: dpdk-conf
spec:
  config: '{

[2018-11-19 09:56] zshi-redhat commented on #23
@pperiyasamy As Abdul indicated in last comment, I think we don't support virtio in SR-IOV CNI and afaik, there seems no plan of doing so (please correct me if I'm wrong @rkamudhan @ahalim-intel ); we used to run a demo simulating how SR-IOV works with a [virtio device plugin](https://github.com/zshi-redhat/virt-network-device-plugin), but that project so far is just for demo purpose and doesn't s

[2018-11-29 21:45] booxter commented on #8
I would also love to see this feature.

In Kubevirt case, we need to be able to safely validate SR-IOV for our cluster. in CI environment, Kubevirt cluster is running inside an OpenShift pod. To be able to validate SR-IOV support for Kubevirt, we need to be able to deploy SR-IOV device plugin and CNI inside this pod. It means that we should first propagate PFs into the pod. We would like to use SR

[2018-12-14 03:37] pkdas opened #27 "delegateDel fails when l2enable is True"
The network yaml is

apiVersion: "k8s.cni.cncf.io/v1"
kind: NetworkAttachmentDefinition
metadata:
  name: vccap-access
  namespace: mytest-demo
  annotations:
    k8s.v1.cni.cncf.io/resourceName: mytest/sriov
spec:
  config: '{
    "cniVersion": "0.3.0",
    "type": "sriov",
    "vlan": 200,
    "l2enable": true
  }'

We assign static IP address and the VF is bound to the i40evf driver

===
Dec 13

[2018-12-14 03:47] pkdas opened #28 "MaxSharedVf functionality not explained"
MaxSharedVf is documented and the value is set 2.
Is this a config param that can be set? Could you provide some documentation/explanation on  sharedVF?
Is this something to do with a VF being shared on with different VLANs or with and without VLAN?
What is the use case?

[2018-12-14 05:44] zshi-redhat commented on #27
I tried and got similar errors, one is from sriov-cni, just as described in above problem description, the second is from Multus:

---
  Warning  FailedCreatePodSandBox  3s               kubelet, nfvsdn-17.oot.lab.eng.rdu2.redhat.com  Failed create pod sandbox: rpc error: code = Unknown desc = failed to set up sandbox container "021a516464e97e1d42190d9f962f4a41596bf0339a25b1365a850796dcb4bb5d" net

[2018-12-14 09:52] ahalim-intel commented on #27
You are spot in @zshi-redhat Multus now expect all delegate plugins to provide valid IPAM information or else it throws error. Similar case with sriov-cni in DPDK mode.

Please see https://github.com/intel/multus-cni/issues/211
and PR with Fix: https://github.com/intel/multus-cni/pull/212

[2018-12-14 16:17] pkdas commented on #28
We are using sriov-device-plugin which assigns the VFs. The NIC we are using is i40e and 16-32 VFs are created on one single PF.

Could you provide the info on the NICs (model, make) where single VF belongs to multiple PFs?

[2018-12-17 10:19] ahalim-intel commented on #28
Before sriov-device-plugin the sriov-cni used to handle VF allocation. We still need to support this for backward compatibility.

Some Mellnox NIC support this feature. See [this doc](http://www.mellanox.com/related-docs/prod_software/Mellanox_EN_for_Linux_User_Manual_v4_0.pdf) [ Page 75 under section: 3.2.1.2.1 Configuring SR-IOV for ConnectX-3/ConnectX-3 Pro ]

[2019-01-10 10:17] #28 closed

[2019-01-10 14:40] pkdas opened #34 "POD with fails SRIOV-VFs after server reboot"
Have 3 or 4 PODs with SRIOV-VFs and reboot the server. At system startup (assume the VFs are created), kubelet starts all these PODs pretty much at the same time. Multus/SRIOV plugins are called for the VFs and multiple VF requests hit the i40e/i40evf driver on the host at the same time. And VF configuration fails since the drivers can not handle multiple requests, VLAN config fails or SRIOV plugi

[2019-01-10 19:58] pkdas opened #35 "SRIOV plugin fails - does not support CNI 0.3.0"
Multus: Err in tearing down failed plugins: Multus: error in invoke Delegate add - "sriov": incompatible CNI versions; config is "0.3.0", plugin supports ["0.1.0" "0.2.0"]

[2019-01-10 20:02] pkdas commented on #35
Does it mean we have to use CNI 0.2.0 for all CNI plugin including Multus

piVersion: "k8s.cni.cncf.io/v1"
kind: NetworkAttachmentDefinition
metadata:
  name: intmgmt
  namespace: demo
  annotations:
    k8s.v1.cni.cncf.io/resourceName: sriov
spec:
  config: '{
    "cniVersion": "0.3.0",
    "vlan": 400,
    "type": "sriov",
    "l2enable": true
  }'

[2019-01-10 22:19] pkdas opened #36 "make does not build the latest code"
make clean is always required before make

~/github/intel/sriov-cni$
modify sriov/sriov.go
~/github/intel/sriov-cni$make
running gofmt...
running golint...
This does not build the SRIOV plugin
~/github/intel/sriov-cni$make clean
~/github/intel/sriov-cni$make
github.com/intel/sriov-cni/sriov
Building sriov...
Done!

[2019-01-11 09:48] ahalim-intel commented on #35
Documentation doesn't suggest to add "cniVersion". Other error is same as you have already seen sriov-cni with dpdk config - multus throwing in error for no IPAM. Please log these issue for Multus.

[2019-01-11 09:48] #35 closed

[2019-01-11 18:58] krsna1729 opened #37 "Create veth interfaces to mirror VF details for userspace mode"
@ahalim-intel @rkamudhan

When using device plugin in userspace mode, it would be nice to have sriov-cni create dummy interfaces in the network namespace with the mac details matching the VF, and the ipam results applied. This way dpdk apps can look for the information in a generic non hostpath/files-sharing way and increase the usability of userspace mode greatly.

https://intel-corp-team.slack.c

[2019-01-11 18:59] krsna1729 commented on #37
/cc @amshinde @mcastelino @egernst

[2019-01-11 19:20] krsna1729 commented on #37
One of the use cases we have is to send all control packets into the kernel via veth and use netlink to listen for route updates. Having the feature where veth pairs are created automatically for each VF, with one end named with what was passed as `interface:` in podspec annotation /`CNI_IFNAME` would be ideal. The other end of the veth will be used by dpdk app to enqueue the control packets.

[2019-01-11 19:22] rkamudhan commented on #37
@krsna1729 Can you give us the link of the dpdk sample app ?

[2019-01-11 20:04] krsna1729 commented on #37
This actual app is for now internal. Will see if I can create a sample.

[2019-01-12 03:47] krsna1729 commented on #37
This is a sample  -
https://github.com/krsna1729/bess-router/blob/master/router.bess#L50-L65
https://github.com/krsna1729/bess-router/blob/master/pipeline.txt

Havent passed traffic to test but thats the idea

[2019-01-14 09:57] ahalim-intel commented on #37
I think there will be implications creating a dummy interface with same IP/mac config of the VF itself. Most likely this will mess up the forwarding table and ARP. We need to think of different approach of capturing IPAM information then pass it on to the userspace driver.

[2019-01-14 19:38] krsna1729 commented on #37
@ahalim-intel if the VF is bound to uio/vfio drivers then they would not appear in the linux stack and not cause an issue right?

[2019-01-14 19:39] krsna1729 commented on #37
We would not do this if VFs are in `netdev` mode. Since the control messages are already being answered by kernel.

[2019-01-15 02:59] krsna1729 commented on #37
Internally we have tested this model and it works when passing traffic. The sample linked above demonstrates the concept. Let me know if you see any other issues.

[2019-01-15 13:21] Mmduh-483 opened #38 "Release VF if cmdAdd failed after setupVF"
After moving VF to container check if error occurs then move the VF back
to original namespace.

this code can help solving the issue in cmdAdd

`
	err = setupVF(n, n.IF0, args.IfName, args.ContainerID, netns)
	defer func() {
		if err != nil {
			err = netns.Do(func(_ ns.NetNS) error {
				_, err := netlink.LinkByName(args.IfName)
				return err
			})
			if err == nil {
				releaseVF(n, args.IfNam

[2019-01-15 13:25] Mmduh-483 opened #39 "Release IP from IPAM if cmdAdd failed"
After gain IPAM's ip in CMD ADD release it if error happens

this code can help solving the issue in cmdAdd

After:
`if result.IP4 == nil {
		return errors.New("IPAM plugin returned missing IPv4 config")
	}`

add:

`
defer func() {
		if err != nil {
			ipam.ExecDel(n.IPAM.Type, args.StdinData)
		}
	}()
`

[2019-01-15 13:31] Mmduh-483 opened #40 "Support moveing VF which is eth0 on the host to the namespace"
When using multus pluing the first interface will be eth0 and
the others will be netX. We need to make sure that before
we move VF which is eth0 to the container namespace it should
first be renamed to temp name before moving to the namespace.
This is to avoid conflict with the eth0 interface which already
exist in the namespace.

[2019-01-15 13:34] Mmduh-483 opened #41 "Allow to rename VF in container when using DHCP IPAM and Multus"
By changing the _CNI_IFNAME_ enviroment variable to the VF's new name to
support using intel-multus with renaming interface, when multus move the
interface to the container it will name the first VF eth0 and then
follow the pattern of netX where X start from 0, so when the interface
moved with sriov-cni name mutlus will not find the interface with the
name it set

[2019-01-16 03:03] zshi-redhat commented on #40
If ``if0name`` is provided, it's checked to ensure the given interface name is not in the list of "eth0, eth1, lo";
but the ``if0name`` is configured after VF be moved into pod namespace, so there is chance that the original VF name conflicts with the default network interface name when moving to pod namespace.

[2019-01-16 03:06] moshe010 commented on #40
So we have fix for that I will request Mmduh-483 to upload it

[2019-01-16 03:12] zshi-redhat commented on #41
This looks like a problem of Multus which doesn't respect the CNI_IFNAME when release/delete the interface. For SRIOV CNI, it receives the pod interface name passing from Multus unless the ``if0name`` is set in SRIOV net-attach-def custom resource.

[2019-01-16 03:18] zshi-redhat commented on #38
Multus tears down failed plugins if any error occurs in delegate plugins.

[2019-01-16 03:30] zshi-redhat commented on #34
I think serialization is done in Multus which delegate the plugins one by one, even if there are multiple network objects attached to single pod. can you please provide some detailed log message from both driver side and SR-IOV plugins for reference? Thanks!

[2019-01-22 10:02] #27 closed

[2019-01-22 11:07] ahalim-intel opened #48 "Codes needs cohesive restructuring to make them testable"
We have done some refactoring recently to so that we can add structured unit tests. However, there are still some more refactoring need to be done. As we can see some challenges with mocking netlink functions and some side-effects of doing so. see #42

Here's what I suggest we can do to improve the code-base:

We are using netlink library in following pkgs/files:

- sriov/sriov.go
- pkg/config.go

[2019-01-22 19:43] mcastelino commented on #37
@krsna1729 so to clarify.

1. Both ends of the veth will be in the container namespace itself
2. One end of the veth is programmed with the IP and MAC of the VF
3. The VF is bound to VFIO/DPDK
4. The other end of the veth is connected to the DPDK app

So the Linux kernel within the namespace can respond to ARP/Ping etc on the programmed end.
So the DPDK app can delegate some functionality back to

[2019-01-22 19:44] krsna1729 commented on #37
@mcastelino That is correct!

[2019-01-22 20:01] rkamudhan commented on #37
+1 for this. I like to test the sample app. I will give a try on the sample app. One more question, Is this features or plugin can work like chain model instead of being in SRIOV CNI ? plugin should be getting previous results and work on the container namespace itself. I like to decouple the features and complexity as much as possible. In CNI community, we usually use chaining mechanism.

[2019-01-22 20:30] mcastelino commented on #37
@krsna1729 CNI results field now support reporting mac address but it is optional!

https://github.com/containernetworking/cni/blob/master/SPEC.md#result

However that means that the SRIOV plugin should report the macaddress.

@rkamudhan does the SRIOV plugin populate the mac address field of the result

[2019-01-22 21:01] rkamudhan commented on #37
@mcastelino you are right exactly. CNI Spec support mac address in the result. There are two ways to do it, either through current SRIOV CNI and chaining mechanism or through device plugin as @krsna1729 explained.  But it is tricky because MAC address is not properly populated in few NICs.

[2019-01-22 21:05] krsna1729 commented on #37
@rkamudhan i meant in CNI itself. This does not touch device plugin. Sorry if i muddied the flow/explanation

[2019-01-22 23:06] krsna1729 commented on #37
@rkamudhan Updated [setup.sh](https://github.com/krsna1729/bess-router/blob/master/setup.sh) to show the different stages

[code]

[2019-01-23 09:00] zshi-redhat commented on #20
Adding a sleep between driver switching and vlan setting might be solving the problem, but we may want to have a more deterministic way to say the dpdk driver has been successfully removed, otherwise the sleep time may vary among different systems and environments.

[2019-01-23 09:07] zshi-redhat commented on #38
@Mmduh-483 Hi, can you please help to confirm if Multus is actually calling the delPlugins to release VFs in above case? or do you have any err message can be shared here?

[2019-01-23 16:56] ahalim-intel commented on #48
@krsacme
Just to let you know, I was informed that @pmossakx is taking care of this issue as he is already working on implementing additional tests.

[2019-01-23 17:01] ahalim-intel opened #52 "remove IF0NAME from NetConf"
The field IF0NAME name was added long before the CRD feature was Multus as a way of bypassing CNI_IFNAME from environment. This is no longer needed as a meta-plugin like Multus can set this env variable as required.

The IF0NAME  is no longer being used and we can safely remove this field from sriov NetConf.

[2019-01-23 17:16] mcastelino commented on #37
@krsna1729 in your bash plugin, you need to pass the result through. i.e. what you get as input, you need to passthrough. I assume you plan to chain this?

[2019-01-23 17:31] krsna1729 commented on #37
@mcastelino chaining may not be needed. In case of userspace sriov we just need the above plugin.

[2019-01-24 11:06] #39 closed

[2019-01-24 11:31] #40 closed

[2019-01-25 03:40] zshi-redhat commented on #8
With the combined use of SR-IOV Device Plugin (SriovMode being False) and SR-IOV CNI, I think we could plug PF interface to container now, @booxter @Levovar do you think this can satisfy your requirements?

[2019-01-28 08:56] zshi-redhat opened #56 "Device name lookup failure in netns"
In commit 63b44a3, device name is changed before moving into container namespace in order to avoid possible name conflicts inside container, for example:
[code]
but this also causes failure when CNI tries to rename the interface to 'netx' again after it's moved into container, for example:
[code]
because inside container namespace, the interface is not ``em1_0`` anymore, but ``dev13``

error messa

[2019-01-28 11:32] zshi-redhat commented on #36
fixed by #53 , it should work as expected now, please feel free to reopen if not.

[2019-01-28 11:32] #36 closed

[2019-01-28 14:09] ahalim-intel commented on #56
Good catch! We need to think about implementing some integration tests to catch this kind of issues that may slip through PR reviews/unit tests.

[2019-01-28 14:48] zshi-redhat commented on #56
I think we might want to setup CI for e2e testing in a real kubernetes environment. adding this as a topic in next resource management call.

[2019-01-28 18:01] #56 closed

[2019-01-29 14:00] pkdas opened #58 "SRIOV CNI to determine the driver and user config"
Currently the kernel driver is specified as part of SRIOV CNI config. And the SRIOV plugin binds to the user specified driver if L2Enable is True. If DPDK is enabled, runs dpdk_devbind to bind to a dpdk driver.

spec:
  config: '{
    "cniVersion": "0.3.0",
    "type": "sriov",
    "vlan": 200,
    "dpdk": {
      "kernel_driver":"i40evf",
      "dpdk_driver":"igb_uio",
      "dpdk_tool":"/usr/loc

[2019-01-29 14:03] zshi-redhat commented on #8
Thanks @Levovar for the confirmation!
Closing this issue, feel free to re-open if any problem.

[2019-01-29 14:03] #8 closed

[2019-01-29 14:05] pkdas commented on #58
Multiple Network definition based on NIC types use-cases.

1) "kernel_driver" is different because NIC (vendor/device) is different
2) "L2Enable" True because NIC type (ConnectX) does not require dpdk-devbind to be called but enables DPDK in the Container application

[2019-02-01 08:10] mJace opened #60 "Failed to build on golang v1.6 and glide v0.13.1"
Hello,

Are you still build this based on golang v1.5+?
I have some error like
`obj.IsAlias undefined (type *types.TypeName has no field or method IsAlias)`
 during building with golang v1.6

And after I upgraded my golang to v1.10, the I am able to build this successfully.

[2019-02-01 08:54] zshi-redhat commented on #60
I didn't try with golang version < 1.10; my local build works with v1.10.3;
maybe the README is outdated and we should update it to golang v1.10+.

[2019-02-05 01:14] sseetharaman6 commented on #8
@zshi-redhat, I don't see a `pfOnly` option in the current master of SR-IOV CNI.  Could you point me to it? SRIOV DP is able to detect the PF when I set `"sriovMode" : false"` , but the SRIOV CNI is failing while creating the pod with this error :
```Multus: Err in tearing down failed plugins: Multus: error in invoke Delegate add - "sriov": SRIOV-CNI failed to load netconf: lstat /sys/bus/pci/devi

[2019-02-06 02:50] moshe010 commented on #58
@pkdas, Can you share the container yaml that you use? and How do you run the testpmd to test it?Mellanox Card. for the dpdk I think it should be
"kernel_driver":"mlx5_core",
"dpdk_driver":"mlxr_core"
basically we shouldn't do any driver change as the same driver work for kernel and dpdk.

Regrading to support multi nic, I think we will depreciate this option in the SR-IOV cni and move it to the S

[2019-02-07 20:38] booxter commented on #37
Well, shouldn't we perhaps revisit it and make CNI plugin bind to userspace driver as needed? This can be controlled by additional args passed to ADD command (so you'll have a ```vfio``` arg specified in your multus network CRD). This should help with other things, like reusing the same VFs for different binding types (both ```netdevice``` and ```vfio```). This also reduces the number of preparati

[2019-02-08 01:14] krsna1729 commented on #37
@booxter i think the reason for moving the binding logic out of the scope of CNI is primarily for proper implementation of `device` concept, where the device plugin sets the permissions and also mounts the appropriate files into the container, without leaking mount details into podSpec or requiring `privileged: true`. I am really happy about that.
@ahalim-intel @rkamudhan correct me.

Kata today w

[2019-02-11 13:49] Mmduh-483 opened #62 "building image failed"
Running command `make image` failed and got
[code]
it is related to this [issue](https://www.centos.org/forums/viewtopic.php?t=68990)

[2019-02-11 19:18] booxter commented on #37
@krsna1729 understood the reasoning for why it's not really CNI plugin job to bind (you need /dev/vfio/NN be registered with the container, which is known to DP only.) But then maybe this binding logic should live with device plugin. I understand the appeal of having the DP running unprivileged, but it doesn't get rid of complexity, it merely pushes it to a separate on-deployment component that wi

[2019-02-11 19:42] krsna1729 commented on #37
@booxter then the device plugin will have to access the network object referenced in the podSpec, and determine if the driver to be bound is igb_uio or vfio or leave with linux.

If we were to keep it entirely in device plugin, then how would two pods consume/request devices bound to different drivers? The only way today is to have different pool names `intel.com/sriov_netdevice: X`, `intel.com/sr

[2019-02-11 22:34] booxter commented on #37
@krsna1729 I guess significant chunk of pressure towards pool reuse for different types of workloads would go away if we could split / exclude VFs that belong to the same PF: https://github.com/intel/sriov-network-device-plugin/issues/80. It would still be not optimal since one may need a ```vfio``` device but have ```netdevice``` only but at least having a single SR-IOV card on a node wouldn't be

[2019-02-11 23:53] greg-bock commented on #37
But then we are limiting allocation of those resources. If we split 10 VFs into two pools of five what happens when we need 6 netdev and 4 vfio or 10/0, etc etc.

We have some code laying around for exclusion as we have a need to not let one of the VFs from each PF from being assigned (comma separated list of PCI ids i think) . But I think multiple pools for the same PF will be problematic or less

[2019-02-12 02:44] krsna1729 commented on #37
@booxter I think mixed usage should be solved at cluster level. Every node/card is fully vfio or netdevice. You can start with 50/50 split of nodes/cards. Then if you use up one type, then have an operator looking out for pods waiting on resources, take an action to move a node/card to required driver to satisfy pending request, as long as any potential evicted pods can be accommodated with resour

[2019-02-12 21:27] booxter commented on #37
@krsna1729 while this may probably work, at least in larger clusters, this seems like pushing complexity from DP / CNI level into cluster manager. (Which may well not exist.) That being said, I see no easy way out of the situation.

Getting to the original point of the issue (exposing IPAM information inside a pod with userspace SR-IOV device), veth is probably one option. Has anyone considered th

[2019-02-12 22:00] zshi-redhat commented on #37
With new config approach, one way to achieve this is to have a new selector type of num that allows specifying the max num of devices from a certain resource exposed by device plugin. but not to specifying rootDevices in PCI address level.

[2019-02-13 17:40] ahalim-intel commented on #37
@zshi-redhat What does this mean max "num of devices"? Say, I have a PF with 8 VFs configured. If somehow I chose to add only 6 of them using max "num of devices", what happens with the other 2 VFs? How the rest of the VF's will be used? If you're not going to specify PF addr then how do you choose which VFs to be excluded and which ones to include? I am trying to understand we do we need this exc

[2019-02-13 18:44] zshi-redhat commented on #37
6 VF devices will be chosen randomly or in order from the selected PF ( via selectors ).

If the rest of VFs can be discovered by different set of selectors ( for example, the rest VFs use different driver ), they will be advertised as different resource.
If the rest of VFs be discovered by the same set of selectors, they will be left unused. meaning they can be used for other purposes.

randomly

[2019-02-14 22:04] booxter opened #63 "Support VFIO backed VFs"
When SR-IOV device plugin allocates a VFIO typed VF, the device doesn't have a netlink representation. So when SR-IOV CNI then tries to move the device into the pod, it fails because netlink interface is not present.

While one may argue that in case of VFIO devices we may not need a CNI at all, Multus requires that a network has ```type``` specified. If it's not ```sriov``` then it should be some

[2019-02-14 22:05] booxter commented on #37
@krsna1729 do you have some code to try? Do you plan to work on this feature?

My main concern right now is not about passing IPAM information per se but about CNI plugin gracefully handling the case where the device is registered with VFIO (in which case all namespace business is skipped; we would still call to IPAM and return it in results dict). I think these two matters are separate: one is to

[2019-02-14 23:15] krsna1729 commented on #37
@booxter i have a quick and dirty bash CNI I have been using as band-aid
https://github.com/clearlinux/cloud-native-setup/blob/master/clr-k8s-examples/9-multi-network/cni/vfioveth

[2019-02-15 20:15] booxter commented on #37
@krsna1729 thanks for the links. Do you plan to work on PR for SR-IOV CNI plugin to do the same? If not, maybe I could take it over.

[2019-02-15 21:48] booxter commented on #63
@zshi-redhat @ahalim-intel what's the official strategy for userspace devices for this CNI plugin? Would a PR that would make binding for e.g. VFIO devices be accepted into the CNI plugin, or should we go and contribute to another repo? (Perhaps start a new one.)

I'd like to make sure that we are on the same page before I start working on the implementation.

The implementation would resemble the

[2019-02-15 22:39] krsna1729 commented on #37
@booxter go ahead!

[2019-02-15 22:41] booxter commented on #63
/assign booxter

[2019-02-15 22:47] krsna1729 commented on #37
For use-case testing I set up 2 instances of [bess-router](https://github.com/krsna1729/bess-router) which internally is this [pipeline](https://github.com/krsna1729/bess-router/blob/master/pipeline.txt) and did a ping test.

https://github.com/krsna1729/bess-router/commit/1e5d7af3012243515a3aef10edf18df527ca4630

[2019-02-18 10:34] rkamudhan commented on #37
@booxter @krsna1729 Is this out of SRIOV CNI plugin using the CNI Chaining mechanism right ? I went through @krsna1729 CNI version on vfioveth, it is really impressive. I think that is really good way to forward.

[2019-02-18 12:21] zshi-redhat commented on #63
There is a repo for [userspace CNI plugins](https://github.com/intel/userspace-cni-network-plugin), it supports userspace interfaces with OVS or VPP as backend.

Could you please elaborate a little bit on how SR-IOV CNI knows which driver the VF shall be bind to?

[2019-02-18 12:35] zshi-redhat commented on #63
Would it make sense that we do the binding of VF in SR-IOV CNI by providing a net-attach-def Custom Resource with dpdk-driver as one of its parameters?  Then we could have SR-IOV CNI check whether additional driver(dpdk-driver) is configured and do the binding accordingly. This doesn't solve the problem of publishing IPAM information to container Pod, but it avoid device plugin to track all the vf

[2019-02-18 13:30] ahalim-intel commented on #63
@zshi-redhat the device cgroup permissions for the container cannot be taken care of with a CNI plugin. Thats why it makes more sense to leave driver binding/unbinding out of a CNI plugin.  We had this in sriov-cni as a legacy feature(before any notion of device plugin). A device plugin is right place for device file permission related issue. The SRIOV DP takes care of it already, thus we no longe

[2019-02-18 14:43] booxter commented on #63
@ahalim-intel @zshi-redhat I think we can determine the current driver for a device using sysfs. If it's VFIO, do nothing to move (non-existing) netlink interface into namespace. (But still we can create a veth to carry IPAM information. That would be a separate follow-up feature.)

[2019-02-18 16:14] booxter commented on #63
@zshi-redhat

Note that in my use case, it's not DPDK at all, it's a regular VF that happens to be registered with VFIO userspace driver. So using dpdk_driver for this need seems incorrect. I also think that it should be easy to automatically detect whether a device is bound to vfio driver and act accordingly (by skipping the move-netlink-to-namespace step of the plugin).

[2019-02-18 20:06] krsna1729 commented on #37
@rkamudhan Not chaining at the moment in my version. This is standalone CNI. Deployed as follows
https://github.com/clearlinux/cloud-native-setup/blob/master/clr-k8s-examples/9-multi-network/multus-sriov-ds.yaml#L140

Example network
https://github.com/clearlinux/cloud-native-setup/blob/master/clr-k8s-examples/9-multi-network/test/sriov/0-sriov-net.yaml#L20-L39

[2019-02-18 20:13] krsna1729 commented on #37
Shameless plug - I think this is a nice quickstart for anyone trying out Multus, SR-IOV
https://github.com/clearlinux/cloud-native-setup/tree/master/clr-k8s-examples/9-multi-network

[2019-02-21 09:27] #52 closed

[2019-02-24 13:49] #63 closed

[2019-02-25 01:51] zshi-redhat commented on #58
I assume by saying SRIOV plugin, you mean SRIOV CNI.
There are things that SRIOV CNI cannot gracefully handle, for example, after device binding to vfio-pci, SRIOV CNI cannot instruct device spec(/dev/vfio/vfio, /dev/vfio/<iommu_group>) mounting to Pod (but device plugin API supports passing mount directory to container).

[2019-02-25 17:09] pkdas opened #68 "Have separate log level/file/tracing for SRIOV plugin"
Currently SRIOV errors are reported via Multus log file /var/log/multus.log when an error occurs in SRIOV plugin. If I set log level to debug in Multus all debug logs are dumped and it becomes cumbersome to navigate. Essentially I am looking for a way to trace/debug SRIOV plugin only and not interested in Multus logs/debug logs. We should be able  set trace/debug level for SRIOV only.

[2019-02-28 12:33] ahalim-intel opened #69 "Should we deprecate support of allocating VF using master PF?"
@rkamudhan
@zshi-redhat

With introduction of [sriov-device-plugin](https://github.com/intel/sriov-network-device-plugin) the sriov-cni no longer needs to find and allocate unused VF using a `master`(SRIOV PF ) interface. Using the master interface to determine and allocate a free VF to a container has other unwanted consequences too. **It's not concurrency safe**. For proper resource accounting a

[2019-02-28 15:11] zshi-redhat commented on #69
+1 on the removal.
I had the impression that we support ``master`` PF config due to legacy or backward compatibility, besides that, it's reasonably for me to deprecate it as more advanced features can not be added or used with the master PF mode, like vfio, rdma mentioned above or the coming NUMA awareness, Resource Class API, Device Monitoring etc, it will make master PF mode useless without furt

[2019-02-28 17:37] ahalim-intel commented on #69
@zshi-redhat Thanks for your feedback.
Also, there's still some issue remains with dpdk mode support even with fix #64 applied. We didn't address how user is going to indicate that allocated device is for dpdk mode(I guess only option is user l needs to provide a "dpdk" conf. In this case plugin should throw in error because it can't get a netdevice for the VF).

Here is a [sneak peek](https://git

[2019-03-01 01:38] zshi-redhat commented on #69
when the "dpdk" conf is provided, shall the plugin do nothing and return success?
I think with the ''dpdk'' conf, plugin doesn't need to detect the netlink state of a  given device, it can rely on the conf to switch between a netdevice config path and a vfio/uio config path.

[2019-03-09 00:05] cliffburdick opened #72 "Plugin Returns Error"
Hi, I'm trying to get the SR-IOV plugin working with multus, and no luck so far. When I deploy, I get the error:

[code]

My network attachment definition looks like this:
[code]

I'm running multus:snapshot as of today, and SR-IOV version 1.0.0 of the plugin. I also tried the master branch with "master" instead of "if0" with the same error.

My goal is to eventually use DPDK on a Mellanox card ac

[2019-03-11 01:40] zshi-redhat commented on #72
This looks like an error from Multus instead of SR-IOV plugin, I hit the same by building Multus from latest master. @s1061123,  do you know what's the problem? I switched to an old commit "9b41f7635deb6cf11beb02bbce530435640cd6a2" and it works.

[2019-03-11 18:01] cliffburdick commented on #72
@zshi-redhat can you point to which version of SR-IOV you're using? I tried with that multus build and am getting a new error with the SR-IOV plugin:

Warning  FailedCreatePodSandBox  67s   kubelet, b011  Failed create pod sandbox: rpc error: code = Unknown desc = [failed to set up sandbox container "5148e77c70d8d769a5c0b1c10b4e5f15e934ba2e14c2d29e4c66ceb7ece244a9" network for pod "ut-cburdick-b6f

[2019-03-12 00:20] zshi-redhat commented on #72
To test DPDK, please use master branches for both SR-IOV CNI and [SR-IOV Device Plugin](https://github.com/intel/sriov-network-device-plugin); you may also want to remove``if0`` in net-attach-def
as it is not supported in SR-IOV CNI master branch. There are detailed instructions in SR-IOV Device Plugin Readme file on how to setup the config and environment.

[2019-03-12 00:23] cliffburdick commented on #72
Thanks @zshi-redhat. Is the commit for multus the one you'd recommend?

[2019-03-12 00:26] zshi-redhat commented on #72
It worked in my environment with that commit yesterday, didn't investigate on what exact the problem is with latest master of Multus, I guess you can use that commit to spin up the env quickly.

[2019-03-13 16:58] cliffburdick commented on #72
@zshi-redhat we got it working with the latest SR-IOV + that multus commit, Thanks for pointing that out.

[2019-03-15 14:29] ahalim-intel opened #74 "move SR-IOV VF creation steps into device plugin"
The steps explaining how to create virtual functions for a SRIOV capable nic no longer should be part of the sriov-cni. These steps should be carried out before device plugin is run. So, I think we should move all VF creation steps into [SR-IOV device plugin](https://github.com/ahalim-intel/sriov-network-device-plugin) documentation.

[2019-03-15 14:36] ahalim-intel commented on #18
This issue has been fixed in [Multus](https://github.com/intel/multus-cni/pull/212)

[2019-03-15 14:36] #18 closed

[2019-03-15 14:37] ahalim-intel commented on #20
Closing this issue now. Feel free to re-open it if needed. Thanks

[2019-03-15 14:37] #20 closed

[2019-03-15 14:39] ahalim-intel commented on #13
Closing this issue now. Feel free to re-open if needed.

[2019-03-15 14:39] #13 closed

[2019-03-15 14:39] #23 closed

[2019-03-21 20:33] booxter commented on #37
Sorry folks, I know I said I will take it over but I couldn't find a slot to work on it. So if anyone can pick it up instead, please do. Thanks.

[2019-03-25 13:32] zshi-redhat commented on #62
This shall be fixed with new Dockerfile, closing issue.

[2019-03-25 13:32] #62 closed

[2019-03-25 13:42] zshi-redhat commented on #72
This should be fixed in multus [PR](https://github.com/intel/multus-cni/pull/283), closing issue.

[2019-03-25 13:42] #72 closed

[2019-03-29 06:14] zshi-redhat commented on #37
@krsna1729 do you have an example of how dpdk app communicate with one end of veth pair inside pod? does the dpdk app require a separate IP allocated from IPAM?

[2019-03-29 12:27] krsna1729 commented on #37
@zshi-redhat https://github.com/krsna1729/bess-router/blob/master/router.bess#L53

Basically both ends of veth will stay within network namespace. One end is used by dpdk as shown above. Other end is the one applied with ipam result. No extra ip. Just whatever was returned as part of cni call just like in the case of Linux mode of sriov.

Pipeline of the dpdk app would be like this
https://github.

[2019-03-30 16:05] cliffburdick opened #75 "Poor DPDK Performance"
Hi, I'm using this plugin with the mellanox connectx-5 100G card with DPDK. On bare metal with SRIOV off, I can hit 100Gbps with 2 transmitting threads with 4KB packets. When I use this plugin, I'm not able to get higher than about 70Gbps, regardless of how many threads I have sending out the VFs. I've tried both more queues per VF, and more VFs on the same interface to no avail. All transmitting

[2019-04-01 09:24] ahalim-intel commented on #75
@cliffburdick
How do you compare the results? Is this performance in Container vs non-container/VM?
I'm trying to understand the the real cause. The sriov-cni and sriov device plugin does nothing special to improve or degrade a NIC's performance. They are used to bring the interfaces up in the container environment.

[2019-04-01 09:27] ahalim-intel commented on #75
@Mmduh-483 @moshe010
Any input on this from your sides?

[2019-04-01 09:55] moshe010 commented on #75
@cliffburdick, Did you open a support case for Mellanox on this?
I think it is better to work with them so they can validate that you have  all the required tuning

[2019-04-02 03:54] cliffburdick commented on #75
Hi @ahalim-intel , the first case was SR-IOV off in a container with host networking on. The physical device was used. I'm wondering if it's a configuration issue on my end, so I will close this for now and go back try trace the root problem. Thanks.

[2019-04-02 03:54] #75 closed

[2019-04-24 07:23] Mmduh-483 opened #78 "Multi architecture image and CI job"
SRIOV-CNI image is built only for amd64 being tested with amd64 arch only, support other architectures would be more helpful.

[2019-06-03 23:28] hymgg opened #79 "Multus: error in invoke Delegate add - "sriov", invalid argument"
Just started using the multus-cni, sriov-cni, sriov-device-plugin.

Multus has 2 delegates, Calico on default network, sriov on another.

sriov-device-plugin could see the VFs, "intel.com/sriov_net_A": "16"

$ kubectl get node mtx-huawei2-bld05 -o json | jq '.status.allocatable'
{
  "cpu": "64",
  "ephemeral-storage": "48294789041",
  "hugepages-1Gi": "0",
  "hugepages-2Mi": "0",
  "intel.com/srio

[2019-06-04 00:55] zshi-redhat commented on #79
From the log message, it seems that device `enp59s4f1` is disconnected and changing of link state failed:
[code]
Perhaps check the link state?
If that's not the cause, you might want to [enable Multus debug log](https://github.com/intel/multus-cni/blob/master/doc/configuration.md#logging) which may contain details of sriov-cni code failure.

[2019-06-05 00:11] hymgg commented on #79
Thank you for the followup.

Thought the state change to disconnected was a result of the failed do-change-link? wonder why it failed...

Enabled multus debug log, please take a look
[multus.log](https://github.com/intel/sriov-cni/files/3254942/multus.log)

Can't figure out much besides the key message:
2019-06-04T16:59:54-07:00 [error] Multus: error in invoke Delegate add - "sriov": failed to set

[2019-06-05 00:35] zshi-redhat commented on #79
Which `sriov-cni` version are you using? From the log message, it looks like not the latest master, but a release branch?
When vf device is passed to sriov-cni, it tries to first set the link state up and then move the interface to pod namespace; I guess the error happened when netlink library is called to set the VF link up. could you please check if you can set the VF(enp59s3f5) up with `ip` cmd

[2019-06-05 08:02] hymgg commented on #79
1.) The image is as defined in sriov-cni-daemonset.yaml, it's 6-month old but seems to be the latest still. Is there a place to get a better one?

# docker images|grep sriov-cni
nfvpe/sriov-cni                             latest                   3ceeb1e50924        6 months ago        263MB

# docker pull nfvpe/sriov-cni
Using default tag: latest
latest: Pulling from nfvpe/sriov-cni
Digest: sha25

[2019-06-05 08:23] zshi-redhat commented on #79
Yes, it seems an old one, maybe due to the image under `nfvpe/sriov-cni` is not updated properly when new PR merged. Anyway, you can build the sriov-cni binary(execute `make build`) from latest code and copy `build/sriov` to `/opt/cni/bin/` directory, then `Multus` will be able to use the newly built sriov-cni binary. Then we can capture the new log message and see where the error occurs.

From pr

[2019-06-07 16:48] hymgg commented on #79
Built sriov from latest code, the messages are a bit different, but essentially the same result.

The pointers to code helped narrow down the issue, assuming the steps in function SetupVF are equivalent to running ip link commands, I could run ip link set xxx down, then up, on physical NIC, but not on VFs.

Following up with lab manager and redhat on this... will update

[root@mtx-huawei2-bld05 lo

[2019-06-07 17:13] hymgg commented on #79
Attached multus.log from new code
[multus.log](https://github.com/intel/sriov-cni/files/3266950/multus.log)

2019-06-06T12:12:18-07:00 [error] Multus: error in invoke Delegate add - "sriov": failed to set up pod interface "net1" from the device "eno31": error setting up interface in container namespace: "error bringing interface up in container ns: \"invalid argument\""

That's how I went to Setup

[2019-06-10 01:08] zshi-redhat commented on #79
Yes, it should be equivalent to running ip cmd, as both are using netlink to configure link state.
The new log message shows that it errors at the same function `[LinkSetUp](https://github.com/intel/sriov-cni/blob/master/pkg/sriov/sriov.go#L138)`, my guess is that the vf driver doesn't support the config option?

[2019-06-10 17:48] hymgg commented on #79
Yes eno51 is a physical nic, ip link commands worked, enp59s3f1 is a VF, failed, will come back.

Thanks.  -Jessica

[2019-06-12 14:25] Gylleus opened #83 "Supporting SR-IOV non-capable devices"
Hi,

I know it goes a bit against the name of this CNI, but are there any plans on supporting devices that are not using SR-IOV? For my team it would be useful in a few different scenarios.

I noticed that Intel SRIOV network device plugin that this CNI works with seems to support non-capable network devices from looking at the README (seems to have been updated recently though). The CNI itself do

[2019-06-13 00:54] zshi-redhat commented on #83
What are those devices not using SR-IOV? can you list a few?

[2019-06-13 08:31] ahalim-intel commented on #79
@hymgg Thank you for reporting this issue. We have recently applied few changes to update the docker image. The original issue described here should be gone now. Feel free to open this issue if you are still experiencing same problem.

[2019-06-13 08:31] #79 closed

[2019-06-13 14:27] Gylleus commented on #83
Correct me if I am wrong but not all NICs support SR-IOV. Since I do not know on which hardware will be used when users deploy my platform I am not sure that it is valid to assume that they will have SR-IOV support on their interfaces.

Another example is when deploying a Kubernetes cluster inside VMs that either have totally virtual interfaces or VFs provided to them through SR-IOV from the barem

[2019-06-13 23:54] zshi-redhat commented on #83
In this case, you may need a device plugin that can discover and advertise non SR-IOV capable devices;
then request this type of device in the pod spec.
Looking at the SR-IOV device plugin code, given a non SR-IOV capable device, it will also be discovered and exposed.

I believe this is a similar request to this [issue](https://github.com/intel/sriov-network-device-plugin/issues/133), please also

[2019-06-17 02:43] zshi-redhat opened #87 "sriov cni network status is not correctly updated in pod annotation"
Multus supports updating network status from each delegated CNI plugins to pod annotation, for example:
[code]
But sriov-cni network status is not correctly updated, as above, there are only `name` and `dns` fields appear in pod annotation for `sriov-network`, others such as `ip`, `mac` etc are missing.

Tested with
1) Multus latest master: 1f8b44c575ee60f86ec99decd008a2328586952d
2) SR-IOV CNI la

[2019-06-17 09:50] ahalim-intel commented on #87
@zshi-redhat I suspect the VFs are in DPDK mode or there's no IPAM config in the net CRD, can you please confirm?

[2019-06-21 17:03] hymgg opened #89 "how do sriov enabled pods connect across nodes?"
Hello,

With the multus-cni, sriov-cni, sriov-device-plugin, we could start multiple pods on same node, and they could connect to each other, using host-local or static ipam.

How do pods connect across different nodes?

Say we have pod1 on node1 with static ip 10.1.1.101, pod2 on node2 with static ip 10.1.1.102, pod3 on node3 with static ip 10.1.1.103, how do they connect?

example:

apiVersion:

[2019-06-27 03:37] zshi-redhat commented on #89
@hymgg hi, are you looking for a ipam plugin that is capable of allocating unique IPs across cluster nodes? or an external SDN entity that can connect different nodes via switches.

[2019-06-27 22:34] hymgg commented on #89
@zshi-redhat need unique IPs across cluster nodes, and connection among those IPs, so the application pods have a private network for some heavy traffic, please advice how to achieve that on top of the sriov-cni. Thanks.  -Jessica

[2019-06-28 06:48] zshi-redhat commented on #89
what about using dhcp ipam plugin for IP allocation?
another option I know is from Doug's project called [whereabouts](https://github.com/dougbtv/whereabouts).

I think the ideal way is to create a service with those pods as backend and applications communicate with each other via service. however this is not yet supported on sidecar interfaces. but I remember this is one of the features discussed

[2019-06-28 08:48] Levovar commented on #89
another option is to try out DANM as your metaplugin (https://github.com/nokia/danm), which supports this IP allocation out of the box, and also supports this SR-IOV CNI as a backend

[2019-07-01 18:34] vpickard commented on #87
I see the same for network status, and this is a pod where the VFs are in DPDK mode.

But, we still need this info (especially MAC) for DPDK mode so that the app can use the MAC assigned to the VF and not have to disable spoof checking on the VF.

[root@vpickard-k8s deployments]# kubectl describe pod pod-dpdk
Name:               pod-dpdk
Namespace:          default
Priority:           0
PriorityCl

[2019-07-01 22:03] hymgg commented on #89
Thank you guys.

Whether dhcp or static, we still need to figure out routing/connection across nodes on sriov network. Services / headless services on secondary networks would help.

Gonna take a look at DANM.

Not sure if this is the right place to continue the discussion, we're a ISV for telcos, our core engine is a cluster with 3 networks by default, the mgmt network, the data network for incom

[2019-07-05 11:25] pperiyasamy opened #91 "VLAN is not set if VF is chosen across PFs"
I've created a POD by attaching two VFs as net device from the same network using resource pool configuration using SR-IOV network device plugin. I can see POD is created with two VFs from two different PFs as per the selection criteria, but only one VF is set with VLAN ID and other is not.

Here is the net-attach-def:

[code]
POD definition:

[code]

ip link show output:

[code]
In this case, vf

[2019-07-31 19:44] sseetharaman6 opened #97 "Support for PFOnly mode and deviceID compatability"
I have a use-case of passing PFs directly to pods/VMs and I tested out different CNI options:
[Upstream SRIOV CNI ](https://github.com/hustcat/sriov-cni/)supports a `pfOnly` option and is functional but is not deviceID aware- so it is hard to use with SRIOV DP.
[Ehost-device CNI](https://github.com/zshi-redhat/ehost-device-cni) is functional and deviceID aware. It essentially moves the root device

[2019-09-04 00:49] pkdas commented on #34
I don't think multus does serialisation across PODs. If POD1 and POD2 are scheduled at the same time and all these PODs use VFs and configure VLANs, DPDK etc and banging on the same i40e PF driver,many of the netlink operations will fail since those take finite amount of time to complete and i40e drivers are can not handle concurrent VF control/configuration requests.

The workaround I found is to

[2019-09-10 03:53] saberlilydian opened #101 "DESIGN: NETWORK POLICY IN SR-IOV CNI PLUGIN"
## Problem
A [network policy](https://kubernetes.io/docs/concepts/services-networking/network-policies/) in Kubernetes is a specification of how groups of pods are allowed to communicate with each other and other network endpoints. [Multus](https://github.com/intel/multus-cni) enables attaching multiple network interfaces to pods. For now SR-IOV CNI is supposed to be used with Multus but SR-IOV CN

[2019-09-10 09:48] zshi-redhat commented on #101
@saberlilydian thanks for the detailed issue description and proposal!
I think this is a very useful case for SR-IOV and worth a thoroughly discussion.
Few questions to help me understand the proposed solution:
1) what would be the Network Policy Driver?  Will it be a function implemented in SR-IOV CNI or it'll be a separate entity?
2) If the network policies are applied to PF interface, then how

[2019-09-11 07:09] saberlilydian commented on #101
@zshi-redhat thank you for your feedback! For your questions:
1. Network Policy Driver should be a separate entity. It can be agents running on Kubernetes nodes.
2. PF and VFs are connected by the embedded switch. Through PF we can offload network policies (DPDK flows or TC filters) to the embedded switch. Some traffic can be matched based on the DPDK flows or TC filters and then block those traff

[2019-09-13 14:55] Levovar commented on #101
"otherwise there will be a security issue: the pod can still access another pod through SR-IOV network which is forbidden to be accessed by other plugins. "
not saying network policies wouldn't be a good thing but: you always have the possibility to separate different networks with VLANs
if you don't want two Pods, possibly belonging to different namespaces and applications to be able to communica

[2019-09-16 06:03] saberlilydian commented on #101
@Levovar thank you for your comment! But I think VLAN can't solve the issue because traffic can be ingress and egress in Network Policy. By using VLAN, ingress and egress will be blocked or allowed simultaneously. However we can block the ingress while allow the egress in Network Policy.

[2019-09-16 07:52] Levovar commented on #101
@saberlilydian yeah sure, but is that a use-case? A Pod wants to talk to another Pod on another network, but wouldn't like to receive the answers? :)
NetworkPolicies are of course useful, because you can dynamically control the rules, I was only commenting that it is entirely possible to satisfy strit TelCo security requirements with thecurrent architecture too (and with some network planning).

R

[2019-09-17 03:38] mJace commented on #87
Same here,
This happened when I upgrade my sriov-cni from v1.0 to v2.1.
And all the rest of the plugin version is the same. The only one difference is sriov-cni version.
The `ifconfig` in my pod is able to show vf IP, but not annotation for sriov-cni v2.1.

[code]

@ahalim-intel  My VF is **not** in DPDK mode.
And here is my net-attach-def
[code]

[2019-09-17 08:52] ahalim-intel commented on #87
@mJace, @vpickard  For network status to work properly you need to add  `"cniVersion": "0.3.1"` in your network CR.
Please see the sample CR [here](https://github.com/intel/sriov-network-device-plugin/blob/master/deployments/sriov-crd.yaml).

As a side note `"if0name" ` field is deprecated in latest sriov-cni.

[2019-09-17 09:29] mJace commented on #87
@ahalim-intel  Thank you.
Adding cniVersion works!

But, how do we define interface name in CR now?

[2019-09-17 18:46] vpickard commented on #87
@ahalim-intel Thanks!

[2019-09-18 17:08] adrianchiris commented on #101
@saberlilydian , a couple of questions.

1.  when using DPDK, what will block a user from removing those rules from within the container ?
  looking [here](https://github.com/intel/sriov-network-device-plugin/tree/master/docs/dpdk#privileges) it seems that in some scenarios a pod needs to run in privileged mode.

2. What is the expected behaviour when k8s network policy is updated

3. looking at p

[2019-09-18 19:40] moshe010 commented on #101
In 4. TC flower you say:
 "Can reuse kernel space driver and little code changes" Does this means you need to modify the kernel driver to make it work?

[2019-09-19 08:20] saberlilydian commented on #101
@Levovar Network Policy can block traffic to specific protocol and port. For example, TCP and port 8888. I think this can't be supported by configuring VLAN.

SR-IOV enabled switch has embedded switch which is used to forward the traffic between PF and VFs.

eBPF can be another implementation for Network Policy Driver. But processing in the hardware will be quicker than eBPF.

[2019-09-19 08:34] saberlilydian commented on #101
@adrianchiris Thank you for your comments! For your questions:
1. As I replied to @zshi-redhat, Network Policy Driver should be an agent in the Kubernetes nodes (aka host). And this agent should be a DPDK application when DPDK is used. Besides PF is used to set Network Policy and PF is also in host. So we don't need to run DPDK in Pod.
2. Network Policy Driver should watch Kubernetes Network Polic

[2019-09-19 08:37] saberlilydian commented on #101
@moshe010 Thank you for your comments! I mean little changes to SR-IOV CNI existing code. I will adjust the proposal. Sorry for misleading!

[2019-09-19 10:26] adrianchiris commented on #101
@saberlilydian thanks for addressing the comments,

Some follow up comments:

I probably have some knowledge gaps here, but in case i want to run a DPDK application in the container (DPDK app runs on the VF), what will prevent the user from removing the flows previously programmed by the PF in the host ? my concern here is a security concern.
for vfio-pci we are OK but to my understanding igb-uio

[2019-09-23 02:27] saberlilydian commented on #101
@adrianchiris For your questions:
1. We can propose only use vfio-pci because the security issue exists on driver igb_uio.
2. Yes, the individual flow rules should be replaced on policy change.

[2019-09-27 16:05] Levovar commented on #37
I did this in DANM, but I used the "dummy" interface instead of veth.
Details can be found in https://github.com/nokia/danm/pull/155/files if anyone is interested.

[2019-10-08 03:53] zshi-redhat opened #104 "support CNI runtimeConfig for Mac configuration"
## What would you like to be added?

Multus is changing to use CNI runtimeConfig for mac, see https://github.com/intel/multus-cni/pull/387
This request is to have SR-IOV CNI support CNI runtimeConfig for mac.

## What is the use case for this feature / enhancement?

Assign static mac address to VF device per pod.

[2019-10-11 01:39] zshi-redhat opened #106 "i40e: Failed to delete MAC filter, error I40E_ERR_PARAM"
### What happened?
When deleting a SR-IOV Pod that has customized MAC address configured. i40e driver reports error message below:
[code]

### What did you expect to happen?

no error message reported from i40e drivers, for example:

[code]

### What are the minimal steps needed to reproduce the bug?

Create a SR-IOV Pod with below spec, then delete the pod, check the system log with `dmesg`
[code

[2019-10-11 02:25] zshi-redhat commented on #104
removing IP from the issue description.
static ipam plugin will be responsible for static ip configuration,  there is no need to change sr-iov cni in order to support static ip.

[2019-10-11 14:15] ahalim-intel commented on #106
Hi @zshi-redhat, The mac address behavior not consistent and it mostly depends on PF and VF drivers combination.
With latest drivers, I can confirm it works as expected. Saying that, I've also experienced similar but not exactly the same as yours. (Latest VF driver link [here](https://downloadcenter.intel.com/download/24693/Intel-Network-Adapter-Virtual-Function-Driver-for-Intel-Ethernet-Controlle

[2019-10-15 08:22] #104 closed

[2019-10-23 14:01] #83 closed

[2019-12-03 06:51] ccmin opened #110 "Multus: error in invoke Delegate add - "sriov": netplugin failed but error parsing its diagnostic message "": unexpected end of JSON input"
[root@master ~]# kubectl describe pod pod-case-03
Name:         pod-case-03
Namespace:    default
Priority:     0
Node:         master/192.168.1.203
Start Time:   Tue, 03 Dec 2019 11:15:10 +0800
Labels:       <none>
Annotations:  k8s.v1.cni.cncf.io/networks: sriov-conf-1
              k8s.v1.cni.cncf.io/networks-status:
              kubectl.kubernetes.io/last-applied-configuration:

[2019-12-03 09:55] ahalim-intel commented on #110
May I ask, what version of sriov cni plugin you are running?

[2019-12-03 18:50] ejweber opened #111 "A Name Conflict Occurs When Assigning an Intermediary Name"
### What happened?

The following error snippet was found multiple times in the event log of a Kubernetes pod I was attempting to create:

Multus: error in invoke Delegate add - "sriov": failed to set up pod interface "net1" from the device "p2p1": error setting temp IF name p2p1_18 for p2p1_1

The error snippet was a result of the following code:

https://github.com/intel/sriov-cni/blob/2aa9b0e71

[2019-12-03 20:22] paravmellanox commented on #111
if you go the route of having temp name with some prefix like in @ejweber 's example, make sure that generated name is  <=15 characters long, as that is the max netdev name size supported by linux kernel.

[2019-12-11 10:49] ahalim-intel commented on #111
@ejweber Can you please verify that the fix #112 fixes your issue above?

[2019-12-12 08:57] ccmin commented on #110
thanks for ahalim-intel's comment.  fix it with new version.

[2019-12-12 08:57] #110 closed

[2019-12-16 10:39] #111 closed

[2019-12-30 15:39] ejweber commented on #111
Thanks for the effort. This fixes my issue.

[2020-02-21 15:01] killianmuldoon commented on #34
@pkdas do you have steps for replication of this?

[2020-02-21 15:08] killianmuldoon commented on #48
@ahalim-intel I think this has been done at this stage, right?

[2020-02-21 15:12] killianmuldoon commented on #60
@zshi-redhat I think we should try to do this the next time we're altering the repo - not sure we're enforcing go 1.5 standards in new PRs.

[2020-02-21 15:17] killianmuldoon commented on #68
@pkdas since SRIOV-CNI doesn't do any logging of its own this might be a better issue for multus. Maybe tagging logs with the source cni so that some sort of filtering can be done? Right now I tend to use cat | grep  - but I can see that's not ideal

[2020-02-21 15:19] killianmuldoon commented on #69
@ahalim-intel @zshi-redhat This issue was closed wit #71   right?

[2020-02-21 15:20] killianmuldoon commented on #74
@ahalim-intel this can be closed, right ?

[2020-02-21 15:22] killianmuldoon commented on #87
@zshi-redhat we can close this, right?

[2020-02-21 15:22] killianmuldoon commented on #89
@hymgg did you find a solution to this?

[2020-02-21 16:41] ahalim-intel commented on #48
@killianmuldoon yes, It's done

[2020-02-21 16:42] ahalim-intel commented on #69
yes, we can close this

[2020-02-21 16:51] ahalim-intel commented on #74
There is no docs for creating VFs in the SR-IOV network device plugin atm. As VFs needs to be created before device plugin is run, it make sense to move these steps in there. The linked PR above also should go to the same location.

[2020-02-22 10:27] zshi-redhat commented on #87
Yes, I don't see this issue anymore with latest sriov-cni when `cniVersion` is set correctly.

[2020-02-22 10:27] #87 closed

[2020-02-24 00:59] hymgg commented on #89
@killianmuldoon yes, DANM worked for us.

[2020-02-24 08:11] #48 closed

[2020-02-24 08:11] #69 closed

[2020-02-24 08:12] #89 closed

[2020-02-25 13:05] adrianchiris opened #115 "SR-IOV CNI to properly restore the state of a VF"
### What happened?

SR-IOV CNI does not restore the state of a VF to its original value in case:

1. Failure mid way during cmdAdd call
2. cmdDel call

During cmdDel SR-IOV CNI restores some VF parameters implicitly to a hardcoded predefined value
for: `spoofchk`, `vf trust`, `vf rate`

Failure to properly restore the state may lead to future cmdAdd operations to fail as described by:
#113 #114

#

[2020-03-13 03:34] mukesh-dua opened #119 "VF configured/attached with unsupported operations in net-attach-def doesn't gets de-configured on pod deletion"
**Problem Statement:** If an unsupported operation is added to network attachment definition, it allows for configuration of Virtual Function during pod creation and the configuration remains even on pod deletion.

The pod never gets created with such a network attachment definition. The end result is someone has to delete the pod.

This is a problem in multi-tenant environment where tenants may b

[2020-03-13 04:29] zshi-redhat commented on #119
@mukesh-dua thanks for detailed report!

I think this is an issue in sriov-cni that it failed to retrieve local cache for CNI netConf which results in early exit in CNI cmdDel call, which in turn causes resetting of VF config not executed. The fix would be to cache netConf in CNI cmdAdd before applying VF configs so that when it fails, it can still recover from pre-cached netConf.

I believe [PR](

[2020-03-16 19:44] mukesh-dua commented on #119
Thanks Zshi. BTW, are there any specific timelines by which we expect this functionality to be part of sriov-cni release?

[2020-03-24 06:31] zshi-redhat commented on #119
@mukesh-dua I don't have a timeline for it, but we're still reviewing that PR and it looks promising.

[2020-04-15 10:09] #34 closed

[2020-04-15 10:10] killianmuldoon commented on #34
Closed as stale.

[2020-04-28 05:54] svallala opened #123 "Ability to set MTU for the VF"
## What would you like to be added?
Ability to set the MTU for the VF by sending the configuration

## What is the use case for this feature / enhancement?
I have a PF configured with 9000, but the VF attached inside the Pod shows up with default 1500. I am trying to solve this using the tuning plugin, but it is better to handle this by the CNI plugin instead of a need for an additional plugin to

[2020-04-28 07:56] killianmuldoon commented on #123
The SR-IOV CNI deals mainly with setting up (and taking down) VFs. I don't think MTU has a special meaning in a VF context and I'm not sure this is the right project for configuring generic fields of the kernel networking driver - but I'm happy for others to jump in and we can see if there's a good argument for this feature.

[2020-04-28 08:00] killianmuldoon commented on #115
Can this be closed ?

[2020-04-28 08:01] #68 closed

[2020-04-28 09:13] adrianchiris commented on #115
PR #114 took care of restoring a VF to its original state during cmdDel, assuming the previous cmdAdd command completed successfully and managed to save its configuration.

There are additional steps required:
1. Clean whatever was configured during cmdAdd in case of a failure
2. Clean as much stuff as possible in cmdDel, today it exits on first failure

the meaning of cleaning is restoring the sy

[2020-04-28 09:22] moshe010 commented on #123
MTU is just in the context of the VF netdevice like all other interfaces. I didn't get why tuning plugin is not a good solution here?

[2020-04-28 17:49] svallala commented on #123
I was hoping it can be handled by the CNI. If I use the tuning plugin to set the MTU, there is no way to reset the value back after the VF is released. Plugin today allows setting the MAC address, why is MTU not part of that parameter list? There are some plugins that have MTU as one of the parameters.

I am okay if this parameter is not part of the list, but then if I have my PF configured with M

[2020-04-28 17:57] moshe010 commented on #123
I didn't say I am against it. The mac address is not a good example because for VF you have the administrative mac (VF mac) and the effective mac (netdevice mac which is what tuning can config). And we didn't want to configure them in both places. MTU is not really VF configuration is the netdevice configuration.  Anyway I am fine to add this as configuration for the VF to resolve the issue to res

[2020-05-02 03:41] svallala commented on #123
@moshe010 I submitted changes to support setting MTU. If folks approve and review these can be merged.
https://github.com/intel/sriov-cni/pull/124

[2020-05-04 08:21] svallala opened #125 "VF MAC address collision"
Intermittent ping failures

We persist the IP address and MAC address of a Pod. We generate a random MAC address in such a way that for a given IP address the MAC address remains the same.

SRIOV PodA, is assigned address IP-A and MAC address MAC-A. This is assigned to a VF on deployment. If the Pod were to restart, in our platform the pod will retain both IP-A and MAC-A, but the VF assigned for t

[2020-05-07 21:16] krishnajs commented on #123
@svallala regarding your point that if PF MTU is set to 9k then all VFs should be set to 9k might not be the right case. Each application that uses VF might have different MTU requirements. Regarding the point you mentioned about MAC address - it is being set I guess because VFs, when created, will not have the MAC address set and we can not set it from within the application POD. Default MTU of 1

[2020-05-08 02:10] svallala commented on #123
@krishnajs, yes you are absolutely right, each VF could be set to a different MTU based on the application needs. There is no way to set the MTU today for a VF unless you provide additional privileges for the Pod. The changes I submitted, is an attempt to provide that flexibility.

[2020-05-08 11:50] krishnajs commented on #123
@svallala MTU can be only on the interface where the kernel driver is being used but not when DPDK is being used. Also to your point - " If I use the tuning plugin to set the MTU, there is no way to reset the value back after the VF is released. "  Why are we worried about resetting since we can set a new value when we deploy the pod again?

[2020-05-12 16:23] killianmuldoon commented on #125
@svallala Can you please add the information under the bug template? The logs etc. will be useful in helping us figure out whether this issue is happening with sriov-cni or in one of the other components in your system.

[2020-05-19 21:45] svallala commented on #125
These are some dmesg logs for a bond interface, but we have seen similar messages for normal VFs. Seems like there is a possibility where a MAC address assigned to a VF is not reset and then the kernel assigns a different address to avoid conflicts. When you assign the same custom MAC address, I am guessing this is resulting in conflicts.

If these logs are not enough to figure out the issue, I ca

[2020-05-24 16:21] blackgold opened #126 "cmdDel fails releasing the device when kubelet deletes pause container"
### What happened?
Kubelet doesn't gaurentee to keep pause container alive while cni tries to delete all the devices attached to the pod. When the pause container is deleted, the netns is not available to release the device from cmdDel. This results in the device on host with wrong name, missing ip and wrong settings.

### What did you expect to happen?
Kubelet to provide some guarantee that netns

[2020-05-24 16:26] blackgold commented on #126
<img width="653" alt="Screen Shot 2020-05-24 at 9 25 03 AM" src="https://user-images.githubusercontent.com/3154752/82759171-7b77d300-9da0-11ea-9072-f9602d7f712d.png">

Kind of using a daemon to clean up the device that ends up in bad shape on the host. Looking for suggestions on  ideal solution.

[2020-05-25 03:21] zshi-redhat commented on #125
Did the issue happen without bond involved?
What is the bond mode and fail_over_mac option used. Are eth1 and eth2 the slaves of bond0?
It might be helpful to provide information of `ip link show` output from contianer and host to check which MAC is conflicting on which interface.

[2020-05-25 03:42] zshi-redhat commented on #126
I think the long term solution would be to wait for the kubelet fix.

For the workaround:
sriov-cni does two things in container namespace when releasing a VF:
1) rename VF
2) reset effective MAC address
If sriov-cni can capture the failure that netns doesn't exist any more in `ReleaseVF`, it might be able to continue the releasing process in the init netns (assume VF be released to the default ho

[2020-05-25 03:48] zshi-redhat commented on #119
@mukesh-dua the aforementioned PR is merged in SR-IOV CNI and released in version v2.3. Does it work for you?

[2020-05-25 16:42] martinkennelly commented on #125
@svallala I am attempting to reproduce your issue.
Could you inform me what model name is your NIC, firmware version & driver version?

[2020-05-25 19:04] blackgold commented on #126
I tried switching to init namespace, however the device is not visible. The device is visible on the host  only after cmdDel command is called on all the devices.

[2020-05-26 02:00] svallala commented on #125
Yes without a bonded interface. I will have to reproduce the issue to provide this information. The MAC address is present on the current VF that is assigned to a Pod and to an older VF that was used earlier and was supposed to be reset.

[2020-05-26 02:02] svallala commented on #125
[root@qct-03 ~]# lspci | grep Ethernet
3b:00.0 Ethernet controller: Intel Corporation Ethernet Controller XXV710 for 25GbE SFP28 (rev 02)
3b:00.1 Ethernet controller: Intel Corporation Ethernet Controller XXV710 for 25GbE SFP28 (rev 02)

[root@qct-03 ~]# modinfo iavf
filename:       /lib/modules/3.10.0-1062.12.1.el7.x86_64/updates/drivers/net/ethernet/intel/iavf/iavf.ko
version:        3.7.61.20
l

[2020-05-26 09:30] martinkennelly commented on #125
@svallala Can you show me ethtool -i ${ PF/VF interface name } so I can see the firmware version loaded?

[2020-05-27 05:27] svallala commented on #125
[root@qct-03 ~]# ethtool -i enp59s0f0
driver: i40e
version: 2.7.29
firmware-version: 6.80 0x8000414f 1.1937.0
expansion-rom-version:
bus-info: 0000:3b:00.0
supports-statistics: yes
supports-test: yes
supports-eeprom-access: yes
supports-register-dump: yes
supports-priv-flags: yes
[root@qct-03 ~]# ethtool -i enp175s13f7
driver: iavf
version: 3.7.61.20
firmware-version: N/A
expansion-rom-version:
bu

[2020-05-27 17:41] killianmuldoon commented on #37
@zshi-redhat @ahalim-intel does this still look like a good solution for the cni?

[2020-05-27 22:09] martinkennelly commented on #125
@svallala I cannot reproduce your issue.
Can you post the pod spec which I assume includes your static mac?

[2020-05-28 02:42] darcyllingyan opened #128 "Want to confirm whether the sriov-cni-plugin support bnx2x NIC card"
Hi,
Now I use bnx2x NIC card to create sriov resource pool, but the POD could NOT use it and always report Non-valid Ethernet address:
![image](https://user-images.githubusercontent.com/35722818/83092391-c874e580-a0cf-11ea-8908-fcf85de5f71b.png)

So I want to confirm whether the plugin support bnx2x NIC card?

Thanks
Darcy

[2020-05-28 06:08] killianmuldoon commented on #128
@darcyllingyan This card has not been tested to my knowledge, but I don't see why it wouldn't work with the cni plugin. The above is a driver error and it looks like there's some issue with the MAC address you're setting. Are you picking an explicit MAC address? Could you please fill out one of our issue templates so we have some basic info about your set up?

[2020-05-28 07:15] darcyllingyan commented on #128
Hi @killianmuldoon ,
Thanks very much for the response.
I don't assign VF MAC address directly, suppose the DANM will create MAC address for VFs when the sriov-net is used for POD.
My resourceList is:
[code]

My allocatable is:
[code]
The ip link is:
[code]

Create one DanmNet to use:
[code]

When I want to create POD with eth1 to use this sriov-a network, it report the above error.

[2020-05-28 08:18] killianmuldoon commented on #128
@darcyllingyan at first glance this may have something to do with the all-zero mac address from your NIC. The error doesn't seem to be coming from SRIOV CNI though and this looks like a driver dependent issue. Can you try to explicitly set the MAC address to a known valid one?

[2020-05-29 19:59] akalambu opened #130 "VLAN not set on VF when DPDK mode is used"
### What happened?
Using the latest SRIOV-CNI Plugin with Multus
I have a PF with 4 VFs i bind the VFs to dpdk vfio-pci

Now when i create a NAD like below
spec:
config: '{ "cniVersion": "0.3.1", "type": "sriov", "vlan": 1556, "deviceID": "0000:5e:0a.3",
"name": "ani-netdevice-network" }

Everything works fine from container but VLAN is not set on the VF. Why are the VF attributes like VLAN not se

[2020-06-01 04:02] zshi-redhat commented on #130
@akalambu looks like you specified the `deviceID` in CNI config, which is not needed if SR-IOV Device Plugin is used. Could you confirm if the device allocated to container is the same device requested in CNI-config ?

If yes, how did you check the vlan is not set on VF? Is is by running `ip link show <pf>` in host?
Which NIC are you using? did you see any error message in host `dmesg`?

If above

[2020-06-18 15:30] ravikumar1907 opened #131 "Need help to integrate sriov-cni + Multus in GKE (Google Kubernetes Engine)"
## What issue would you like to bring attention to?
Integrating DPDK-SRIOV + Multus  with GKE
## What is the impact of this issue?
No Impact. Need help if if any one integrated this with GKE/or with other Cloude Provider Managed K8S
## Do you have a proposed response or remediation for the issue?
No. I want some pointer / help if some one tried this with GKE.

[2020-06-23 10:23] martinkennelly commented on #131
Can you provide documentation that this is possible on GKE?
I did a quick google and it seems SR-IOV is not an option on GKE but please tell me if this is not the case.

[2020-06-23 10:38] ravikumar1907 commented on #131
Yes it seems sriov is not supported with GKE and hence I'm failed to integrate this plugin GKE.
I don't have/find documentation that says this plugin supported in GKE

[2020-06-23 10:40] martinkennelly commented on #131
I'm closing this issue because GKE doesn't seem to support SR-IOV.

[2020-06-23 10:40] #131 closed

[2020-06-29 03:49] darcyllingyan commented on #128
Hi @killianmuldoon ,
Thanks very much, yes, it is the MAC address issue. After changed it to valid one, it works well.

[2020-06-29 03:49] #128 closed

[2020-07-01 16:42] killianmuldoon commented on #74
Implemented at https://github.com/intel/sriov-network-device-plugin/pull/240

[2020-07-01 16:42] #74 closed

[2020-07-01 16:47] killianmuldoon commented on #58
Closing as stale.

[2020-07-01 16:47] #58 closed

[2020-07-01 16:49] killianmuldoon commented on #130
@akalambu did you manage to fix this issue?

[2020-07-03 16:23] killianmuldoon commented on #60
Updated as of #127

[2020-07-03 16:23] #60 closed

[2020-07-08 14:13] killianmuldoon commented on #123
This seems to be an issue for kernel interfaces only, and there's no clear way to communicate this as part of the config. The direction right now is still to set the MTU with the tuning cni using a chained plugin in the network attachment definition.

@svallala it would be great if you could provide an example config using this model and we can add a doc that explains how to implement this use cas

[2020-07-08 14:13] #123 closed

[2020-07-16 10:10] martinkennelly opened #133 "Abstraction proposal"
# Proposal 1
## Implement interface for vlan trunking

#### Sample CRD demonstrating new vlan_trunk field
[code]

#### Standardise vlan trunk input
In order to validate the input for vlan trunking, we must define a standard input format.
The vlan trunk input should conform to the regex expression ```^[0-9]+([,\-][0-9]+)*$```.

#### Convert into provider friendly format
We will transform user provi

[2020-07-16 10:11] martinkennelly commented on #133
# Proposal 2
## Implement generic interface for providers

#### Sample CRD demonstrating provider and provider_config fields
[code]

#### New interface for providers
Each new provider must implement the ```ProviderConfig``` interface.
A providers implementation of ```LoadValidateProviderConfig()``` will be responsible for unmarshalling ```provider_config```, validate the configuration and upon suc

[2020-07-21 10:11] martinkennelly commented on #133
@zshi-redhat @adrianchiris Could you folks take a look at the two proposals?

[2020-07-24 08:53] cswindle opened #134 "images in yaml file are not updated when releases are tagged"
## What issue would you like to bring attention to?
Currently the tags that you do to release a new version do not include the charts being updated, this makes it harder for people to install a specific version. If you look at plugins such as multus and flannel you will see that they also update the yaml files when tagging.

## What is the impact of this issue?
It makes providing instructions on h

[2020-07-24 15:11] cswindle commented on #134
In this scenario imagePullPolicy should also be removed (or set to pull if not present).

[2020-07-30 00:12] zshi-redhat commented on #101
@saberlilydian are you still interested in moving this forward?

[2020-07-30 07:35] adrianchiris commented on #133
So here are my thoughts.
From user perspective we should have a single API (CNI Config), so i like proposal 1 better.
I dont think that a generic way to inject vendor specific configurations is the way to go,
there should be one API with possibly different implementations.

**Some comments on proposal 1:**

depending on the allocated VF, sriov-cni can choose the appropriate provider, this logic ca

[2020-08-11 11:24] martinkennelly commented on #133
# Proposal 1 - Updated with Adrian's suggestions which I agree with
## Implement interface for vlan trunking

#### Standardise vlan trunk input
In order to validate the input for vlan trunking, we must define a standard input format.
The vlan trunk input should conform to the regex expression ```^[0-9]+([,\-][0-9]+)*$```. We will also ensure there are no vlan overlap and vlan ranges are valid.

##

[2020-08-13 15:52] killianmuldoon commented on #125
closed as stale

[2020-08-13 15:52] #125 closed

[2020-08-27 08:45] saberlilydian commented on #101
@zshi-redhat Yes, absolutely! I have made a presentation about this PR on OpenInfra
2019 and the link is below: https://www.openstack.org/videos/summits/shanghai-2019/starlingx-hardware-acceleration-driven-network-policies-on-edge

[2020-08-31 04:18] zshi-redhat commented on #101
@saberlilydian thanks for the link!  Did you also have demo utilizing TC? Have you done any comparison between the two implementations (rte_flow or tc) and pros/cons? would you mind join our biweekly [meeting](https://docs.google.com/document/d/1sJQMHbxZdeYJPgAWK1aSt6yzZ4K_8es7woVIrwinVwI/edit#) for a discussion ()?

[2020-09-11 06:53] PrahladaHerle opened #136 "Query about sharing DPDK device among 2 containers of a POD"
## What issue would you like to bring attention to?
Is it possible to share a single dpdk device among 2 containers in a POD (using SRIOV device plugin + SRIOV CNI)? If yes, how can we do that?

## What is the impact of this issue?
We want to run PRIMARY/SECONDARY applications in 2 different containers. This is not possible without solving above issue.

## Do you have a proposed response or remedi

[2020-09-11 08:00] zshi-redhat commented on #136
This is currently not possible with sriov device plugin as one device will be count as one available resource, and be allocated once. If we want to allocate one device twice (to different container), we might want to count the single dpdk interface twice or more times.

I didn't realize that we can run two dpdk applications (e.g. two testpmds) on the same SR-IOV device. Is there any permission iss

[2020-09-11 08:42] amorenoz commented on #136
AFAIK, not with VFIO

[2020-09-11 11:42] PrahladaHerle commented on #136
Sure, this was more of an information that I was looking. DPDK device can't be shared across the container. Thanks for the quick response.

[2020-09-11 11:42] #136 closed

[2020-09-14 15:12] #134 closed

[2020-10-27 12:09] DmytroLinkin opened #143 "Wrong MAC address value returned in Result on CmdAdd"
### What happened?
MAC address returned in Result is the same as initial MAC address value of the VF, disregarding whether it was passed in cni conf or not.

### What did you expect to happen?
Expected it to be equal to the one passed in cni conf.

### What are the minimal steps needed to reproduce the bug?
Use cnitool utility:
[code]

### Anything else we need to know?
In the code I see that mac

[2020-11-03 14:07] zshi-redhat opened #146 "Supports CNI version 0.4.0"
## What would you like to be added?

Implements cmdCheck to support CNI version 0.4.0

## What is the use case for this feature / enhancement?

Add periodic check for sriov network by implementing cmdCheck

Example from Multus CNI: https://github.com/intel/multus-cni/pull/427/files
cmdCheck spec update ref: https://github.com/containernetworking/cni/pull/579/files

[2020-11-03 17:50] martinkennelly commented on #143
I am seeing this issue intermittently, in fact it seems to occur rarely on my VFs. I saw it consistently on one VF, but following reset of VFs, it disappeared. Are you seeing consistent failures?

You're correct about linkObj. I tested it there. Testing your follow up patch now. Thank you for this!

[2020-11-04 07:54] DmytroLinkin commented on #143
Do You set MAC with cni config? Issue happens when MAC is specified.

Yes, reset return settings back to the normal. But the problem might occur if some{one,thing} will rely on cmdAdd results.

Frankly speaking, I didn't have any real failures with this. Bumped into it, when saw the Result and MAC looked suspicious for me. But as I mentioned, specifying MAC address in config triggers it.

[2020-11-04 13:47] martinkennelly commented on #143
Yes. I still only see it very rarely, but I did see it.

Correct.

I see. It occurs rarely for me. So you are seeing it consistently when MAC defined?

[2020-11-04 14:29] DmytroLinkin commented on #143
Didn't paid many attention what's returned by the plugin on real runtime, but with cnitool issue persistant.

[2020-11-04 17:00] adrianchiris commented on #143
Based on the fix id expect it to happen consistently when a different MAC is specified for VF regardless of who invokes the CNI

[2020-11-04 17:27] martinkennelly commented on #143
Yeah, this is why I am wondering why I am not seeing it consistently with cnitool when a different MAC is specified.

[2020-11-05 08:22] adrianchiris commented on #143
I will create a setup and look at it, will update.

[2020-11-05 12:23] adrianchiris commented on #143
Update: reproducing consistently when invoking the CNI with cnitool.
and is fixed with the PR @DmytroLinkin proposed.

when Resetting VFs (i assume you recreate them via sysfs) make sure to also reset the VF's administrative MAC on the PF.
if it remains set then when the VF is created, it will get the administrative MAC value.

[2020-11-10 13:00] #143 closed

[2020-11-11 13:07] martinkennelly opened #148 "Add fuzzer to SRIOV-CNI"
Hey all.

We have developed a fuzzer internally for this repository which I think would add value. I am polling for interest for this enhancement.

## What would you like to be added?
Fuzzing code located in new testing folder. Add documentation on how to utilize it.

## What is the use case for this feature / enhancement?
Fuzzing is an effective way to find security bugs in software. Exposing fuz

[2020-11-13 11:55] amorenoz opened #151 "make clean fails: "rm: cannot remove""
### What happened?
sriov-cni cannot be cleaned properly, running `make clean` yields a bunch of:

`rm: cannot remove 'sriov-cni/.gopath/pkg/mod/github.com/containernetworking/cni@v0.8.0/logo.png': Permission denied`

### What did you expect to happen?
make clean should work
### What are the minimal steps needed to reproduce the bug?
`
git clone https://github.com/k8snetworkplumbingwg/sriov-cni.git

[2020-11-13 12:03] martinkennelly commented on #151
Confirmed.

[2020-11-24 08:07] #151 closed

[2020-11-24 08:31] adrianchiris commented on #78
https://github.com/k8snetworkplumbingwg/sriov-cni/pull/98 implements this change

@Mmduh-483 are you planning to followup on this ? i see the PR got LGTM in the past and needs rebase

[2020-11-25 12:18] mrymsza opened #153 "Makefile: go2xunit is no longer supported"
Makefile is using an unarchived and unsupported tool - go2xunit.

https://github.com/tebeka/go2xunit

[2020-11-25 12:38] mrymsza opened #154 "Makefile: cleanup variables and comments."
Makefile is no longer clear, there are some unused and unnecessary variables and comments. The layout of the file is also inconsistent (some sections are named others aren't).

[2020-11-25 12:43] mrymsza opened #155 "make help doesn't print all of the main options"
## What issue would you like to bring attention to?
Make help doesn't show all the main options like 'build' or 'image'. Logging info is also inconsistent.

## What is the impact of this issue?
Make help output is incomplete.

## Do you have a proposed response or remediation for the issue?
Add missing target description.

[2020-11-25 12:47] mrymsza opened #156 "make clean doesn't delete created directories"
## What issue would you like to bring attention to?
Makefile doesn't delete everything it creates. After running make clean there still remain created directories and some leftover cached data.

## What is the impact of this issue?
After running make clean there's still some leftover data.

## Do you have a proposed response or remediation for the issue?
Make clean should also remove directories i

[2020-11-25 13:00] mrymsza opened #157 ".PHONY targets could all be defined in one line"
## What issue would you like to bring attention to?
.PHONY targets are not defined in one line at the top.

## What is the impact of this issue?
Defining .PHONY targets all over the file makes the Makefile not easy to read.

## Do you have a proposed response or remediation for the issue?
It's probably better practice to keep all .PHONY commands together at the top.

[2020-11-27 15:34] martinkennelly commented on #156
Confirmed. I see these directories are not cleaned.

[2020-12-07 15:39] adrianchiris commented on #78
Synced with @Mmduh-483 internally, we are planning to work on it

[2020-12-07 15:44] adrianchiris commented on #91
@pperiyasamy
could you provide more information on the issue , multus logs would be of help here to see with which device ID sriov-cni was called.

[2020-12-07 15:50] adrianchiris commented on #97
for the described use-case[ Host device CNI](https://github.com/containernetworking/plugins#main-interface-creating) can be used.
Closing the issue,

if there are further questions please feel free to reopen

[2020-12-07 15:50] #97 closed

[2020-12-07 16:09] adrianchiris commented on #37
This issue was discussed in NPWG network & resource management meeting on 07.12.2020 and was decided that this issue should not be handled in SR-IOV CNI.

If there are any objections please re-open the issue and join us at the bi-weekly meeting (see CONTRIBUTING doc for more info)

Thanks!

[2020-12-07 16:09] #37 closed

[2020-12-07 16:14] adrianchiris commented on #119
Greetings!
This issue is related to : #115 as cleaning up a VF which was partly configured is one of the open items.

Closing this issue as it will be handled as part of #115

[2020-12-07 16:14] #119 closed

[2020-12-08 10:06] pperiyasamy commented on #91
@adrianchiris currently i don't have a setup to produce the multus logs, this issue was easily reproducible with pod requesting 2 VFs and that are available from two PFs (for simplicity, from 2 PFs create 1 VF per PF and and add those into same resource pool in device plugin config map). When the setup available, i can reproduce the issue and send you the logs.

[2020-12-08 11:39] adrianchiris commented on #91
Thanks @pperiyasamy ,  ill try to repro in-house as well, dont have a setup available at the moment

[2020-12-08 13:43] pperiyasamy commented on #91
@adrianchiris I just got the setup and this issue is not reproducible anymore with sriov cni.

[code]

 I think we can safely close the issue.

[2020-12-08 14:09] adrianchiris commented on #91
great ! thanks @pperiyasamy

Closing this issue then.

[2020-12-08 14:09] #91 closed

[2020-12-14 13:20] amorenoz opened #162 "Add vDPA support"
vDPA support is being added to the SR-IOV Network Device Plugin (https://github.com/k8snetworkplumbingwg/sriov-network-device-plugin/issues/305).

## What would you like to be added?
The SR-IOV CNI should handle vDPA devices properly. The expected behaviour:
 - For devices bound to  `vhost-vdpa`, they should be treated as DPDK devices:
   - The access to the device is handled by the SR-IOV Network

[2020-12-27 09:50] #156 closed

[2021-01-05 11:11] martinkennelly commented on #157
Closing due to not best makefile practice - see:  https://clarkgrubb.com/makefile-style-guide

[2021-01-05 11:11] #157 closed

[2021-01-05 17:11] #155 closed

[2021-01-20 10:55] #162 closed

[2021-01-26 12:42] martinkennelly commented on #148
Closing due to lack of interest in this feature.

[2021-01-26 12:42] #148 closed

[2021-03-10 16:19] martinkennelly commented on #133
Closing. It was implemented.

[2021-03-22 17:50] nicolacdnll opened #174 "Managed vs. unmanaged Interfaces/VFs?"
Does the SR-IOV CNI work with interfaces/VFs that are both managed by NetworkManager and unmanaged?
Or, is one expected to always set the interfaces/VFs as unmanaged - even when using kernel drivers?

Thanks

[2021-03-23 16:58] nicolacdnll commented on #174
It works also with managed interfaces. Not sure what was wrong before. Closing this.

[2021-03-23 16:58] #174 closed

[2021-03-25 15:19] bjosv opened #175 "Add configuration for device flags"
## What would you like to be added?

A configuration parameter for setting device flags.
Like the `IFF_ALLMULTI` flag to enable propagation of multicast packets from the network.

## What is the use case for this feature / enhancement?

One example would be when using IPv6 and having Neighbor Discovery Protocol (NDP) implemented in a Network Functions (NF) userland stack. The NF then needs to be a

[2021-04-07 10:20] martinkennelly commented on #175
Hey, we briefly discussed this at the additional community meeting. We do not know of any CNI that we can 'chain' that can accomplish this task instead of us adding this functionality. @zshi-redhat do you know of any?

Just so I understand the ask correctly - what you're asking for is equivalent to
[code]
I know [netlink](https://github.com/vishvananda/netlink) has an API for this. We could easily

[2021-04-07 10:47] martinkennelly commented on #101
@saberlilydian do you want to continue this discussion? I'd be interested in hearing pros/cons of rte_flow / tc. I will close this Issue if I do not get a response in a months time. Thank you for this input.

[2021-04-07 10:49] martinkennelly commented on #106
Closing due to inactivity. Please reopen if the issue is not resolved.

[2021-04-07 10:49] #106 closed

[2021-04-07 12:08] zshi-redhat commented on #175
I'm not ware of any chain CNI that can do this job.

+1

[2021-04-07 12:09] adrianchiris commented on #175
I thought about this further since yesterday's meeting,

If the configuration applies to a netdevice in general,
Perhaps tuning CNI plugin can be extended with this functionality. WDYT?

https://www.cni.dev/plugins/current/meta/tuning/
https://github.com/containernetworking/plugins/tree/master/plugins/meta/tuning

[2021-04-12 03:50] zshi-redhat opened #177 "enable Gratuitous ARP for SR-IOV device"
The issue is to request adding GARP support in sriov-cni

## What would you like to be added?
GARP packet is sent by kernel when /proc/sys/net/ipv4/conf/<vf-name>/arp_notify is set to 1.
[code]

## What is the use case for this feature / enhancement?
IP address allocated to VF may be re-used while SR-IOV pods are restarted/recreated in a cluster. It is desired to broadcast GARP packet while IP ass

[2021-04-12 07:34] arikachen opened #178 "pod start failed when node reboot"
### What happened?
When node restart, pod is Error status.  CNIADD failed with netdevice not exist and CNIDEL failed too.
Events:
[code]

### What did you expect to happen?
pod will start success.

### What are the minimal steps needed to reproduce the bug?
sriov with mlnx card
reboot node

### Component Versions
Please fill in the below table with the version numbers of applicable components used

[2021-04-12 07:51] bjosv commented on #175
Hi, thanks for taking time to discuss this!

Yes, this would set the same flag on the device.

No, there is no dependency what we have seen.

Good point, this would probably be needed for other CNIs aswell.
Maybe this would be a better solution.

Are there any common rules, or collaborations between CNIs communities, where to put features like this?
Asking since we seem to have the possiblity to c

[2021-04-12 08:44] zshi-redhat commented on #178
I think the issue is when kubelet tries to restart pod after node rebooting, the sriov device is not ready (created yet).

I saw the log from sriov-config-daemon, so assuming sriov-operator is used. In which case, sriov-config-daemon is responsible for creating sriov numVfs, but sriov-config-daemon only starts after kubelet becomes ready, so there is chance that when kubelet starts to resume sriov

[2021-04-12 09:45] zshi-redhat commented on #175
With tuning CNI plugin, how can we add the sysctl path that requires knowing of container interface name?

My understanding of current approach is to re-use what's exist in meta plugins for sriov-cni where appropriate.

MAC is a little special as we have different implementation in sriov-cni (the admin and effective MACs).

[2021-04-12 11:25] martinkennelly commented on #177
So this wouldn't be possible with tuning CNI chained because we don't know the interface name in advance?
[code]

So, a potential SRIOV CNI NAD spec would look like below?:
[code]

[2021-04-12 11:54] adrianchiris commented on #175
Im not sure i understand the issue, can you elaborate ?

[2021-04-12 13:43] zshi-redhat commented on #175
For example, to enable arp_notify for a VF device, it sets the following sys path:

`/proc/sys/net/ipv4/conf/<VF-NAME>/arp_notify`

The <VF-NAME> is the interface name inside container namespace, it is assigned by Multus and cannot be pre-determined when creating tuning CNI net-attach-def.

[2021-04-12 13:50] adrianchiris commented on #175
I dont understand how it differs from setting mac address for an interface inside container via tuning CNI plugin.
the container interface name is provided by the runtime, see : https://github.com/containernetworking/plugins/blob/e27c48b391539f5536918b9c379c59ef2793cb0d/plugins/meta/tuning/tuning.go#L320

so the tuning config would need to have `arp_notify=true` or similar then use the provided `a

[2021-04-12 13:56] zshi-redhat commented on #175
Okay, I was thinking we need to specify the full sys path in tuning net-attach-def, which is not the case for MAC/PROMISC etc. so it can be implemented by referring to the args.IfName passed down from previous plugin.

[2021-04-12 15:20] bjosv commented on #175
Thanks. I have done some minimal testing now by adding the flag to tuning (using netlink and args.IfName) and it seemed to trigger the change atleast when checking with `ip link` within the container.

I would guess I only need to set the allmulti-flag on the device in the container when using sr-iov as the main CNI.
Maybe there are other CNIs that would need other handling, like doing something o

[2021-04-12 15:31] zshi-redhat commented on #177
@martinkennelly  I just got to know that it's not necessary to specify the interface name in CNI net-attach-def config, chained CNI like tuning CNI inherits the CNI result passed down from previous CNI which contains the args.IfName.

I need to check if it's possible to use tuning CNI for arp notificuation.
What I noticed is that tuning CNI implements its own logic for sending arp notification, wh

[2021-04-13 06:47] adrianchiris commented on #175
Yes, that is correct, however i dont know in this case you will need the `prevResult` as a cni ADD call will contain the container ifname in its args. see https://github.com/containernetworking/cni/blob/master/SPEC.md#add-add-container-to-network-or-apply-modifications

you could know by checking the status of the interface before changing it e.g if it changed from default.

yes, multus is expecte

[2021-04-13 07:09] adrianchiris commented on #177
Question: shouldn't we send GARP by default ?

[2021-04-13 07:41] zshi-redhat commented on #177
Nope with current sriov-cni implementation.

Two changes are required in sriov-cni to be able to send GARP:
1) Enable arp_notify for the VF device
2) Restart VF link (down & up) while IP has been assigned to VF
Both the two are not met in sriov-cni.

[2021-04-13 08:43] adrianchiris commented on #177
@zshi-redhat im aware we are not doing that in SR-IOV CNI today,
My question is, should we do that by default ? (say if IPAM is specified)

[2021-04-13 08:47] zshi-redhat commented on #177
I think so.

[2021-04-13 08:53] adrianchiris commented on #177
I saw mentions of using tuning plugin for that hence my previous question.

My 2 cent is that we should not rely on chained plugins for correct operation of SRIOV cni. It seems that sending GARP is a missing step in cni add call

[2021-04-14 10:10] zshi-redhat commented on #177
I'm working on a PR to add garp support in sriov-cni.

[2021-04-15 10:41] TothFerenc commented on #177
For IPv6: `net.ipv6.conf.<interface>.ndisc_notify=1`
Most probably it is enabled by default, but better would be to set it for sure.

[2021-04-29 10:45] bjosv commented on #175
Closing this issue in favor of containernetworking/plugins#621 and containernetworking/plugins#624.
Thanks for all advice.

[2021-04-29 10:45] #175 closed

[2021-05-24 15:58] adrianchiris commented on #178
+1

[2021-05-24 16:00] adrianchiris commented on #178
I do not think this issue is related to SR-IOV CNI as @zshi-redhat mentioned.

@arikachen you mind opening an issue in [sriov-network-operator](https://github.com/k8snetworkplumbingwg/sriov-network-operator) so it can be properly tracked ?

[2021-05-25 02:09] arikachen commented on #178
Thanks for your suggestion. I will retest later.

[2021-05-25 02:09] #178 closed

[2021-05-28 20:48] JaseFace commented on #126
We're running into this currently. We have 4-6 interfaces in use by the CNI, but are often finding 1 or 2 left with a bad interface name, and various settings that weren't reverted. The host usually has enough information to fix the handed back/abandoned interfaces after the failed/incomplete cmdDel. The struggle is we're then racing the cleanup against the pods spinning back up and requesting new

[2021-05-28 21:51] blackgold commented on #126
I think it would be implement a cni plugin that does two things in following order in cmdAdd
1. Verify the devices on the host are in expected format. If not fix them.
2. Delegate to sriov-cni

If sriov-cni can provide some ability to run prolog hooks then we can invoke (1) using the prolog hooks.

[2021-05-31 10:39] martinkennelly opened #183 "New release request"
## What would you like to be added?
It has been six months since the last release. I want to gather gather inputs for a new release. Should we wait for GARP/NDN #179 @zshi-redhat  ?

# Release message:
Improvements:
* Improve daemonset security (#170)
* set vlan to 0 if not defined. (#180)

Bug/vulnerability fixs:
* Release IPAM resources for exited containers (#164)
* Always add the MAC address t

[2021-05-31 15:13] martinkennelly commented on #126
@blackgold

Do you know why they aren't visible in the init netns? I figured, once the pod netns is deleted, the devices would return to the init netns. SRIOV CNI could detect the pod netns is deleted but continue on and verify the device is in the appropriate state.

[2021-06-01 14:12] martinkennelly commented on #183
Discussed at [additional community meeting](https://docs.google.com/document/d/1bEyEh_K9lGwQWHgUHUH-vqodYd1W-LCWRGlW0-ZVR5A/edit#) that we would like to wait for #179 feature inclusion. We will discuss at next community meeting if timeline is acceptable to wait for #179.

[2021-06-05 16:34] blackgold commented on #126
So from within the sriov-cni process when i tried to list devices in the init ns, the devices dont show up. Only after the last cmdDel invocation finishes the devices show up in host ns. ( atleast thats what i remember)

[2021-06-11 15:34] martinkennelly commented on #183
Release published

[2021-06-11 15:34] #183 closed

[2021-06-16 17:08] martinkennelly opened #184 "Travis-ci.org is shut down now"
Travis is transitioning to a new .com domain and the old .org version is being shut down. This caught me off-guard.
There are new requirements it seems for OSS using travis for free. See curl issue https://github.com/curl/curl/issues/7150

I do not think its worthwhile applying for OSS status given what I have read in the curl issue above. Looking for inputs here.
We currently depend on travis for

[2021-06-17 00:42] zshi-redhat commented on #184
I think it's the time to switch from nfvpe to ghcr.io.

[2021-06-17 14:57] martinkennelly commented on #184
Agreed - I want to signal this to consumers on docker. Who can I contact to hopefully add a note to https://hub.docker.com/r/nfvpe/sriov-cni ? Doug S?

[2021-06-18 09:37] zshi-redhat commented on #184
I can add a note in the link above.

[2021-06-30 09:40] #184 closed

[2021-07-05 15:00] zshi-redhat commented on #126
Would it be helpful if we do the device `health` check in the device plugin (when kubelet sends the allocate request to device plugin)?  For example, if the requested device is not in init netns (or not  in an expected state than it should be during discovery), device plugin would return unhealthy to kubelet which then repeat the allocate process with another device.

[2021-07-05 15:52] MichalGuzieniuk opened #187 "Create repository to store util packages within NPWG"
## What issue would you like to bring attention to?
Currently for repositories like SRIOV CNI / SRIOV CNI Operator / Network Resources Injector and Device Plugin there is or will be a set of E2E tests that are using utils from **util** package. The set of packages inside allows for instance to create / delete K8s objects, read interface details. Those packages are almost similar in implementation

[2021-07-06 03:02] zshi-redhat commented on #187
/cc @pliurh @martinkennelly @adrianchiris  @amorenoz

This was raised in resource management meeting (July 5) and we thought it would be better to create an issue for continued discussion.

I recognize this has been an issue since we have multiple sriov related projects with each needs to perform similar function calls.
This issue was not obvious before, I think partially because it is still manag

[2021-07-06 06:43] pliurh commented on #187
Big +1.

[2021-07-06 06:55] amorenoz commented on #187
+1 for merging go-vdpa into a npwg repo

[2021-07-06 07:30] adrianchiris commented on #187
+1 for reducing code duplication, however we need to be careful about what we put in the newly propsed util repo, its structure
and versioning and guidelines on API changes.

[2021-07-06 14:08] pperiyasamy commented on #187
+1 for the proposal.

ovs-cni also have code duplication in w.r.t using caching [netConf](https://github.com/k8snetworkplumbingwg/ovs-cni/tree/main/pkg/utils), we could try to generalise those APIs and make it consumable from both sriov-cni and ovs-cni.

[2021-07-07 00:57] zshi-redhat commented on #187
@adrianchiris do you have something in mind which we may not want to put in the newly proposed repo?

Re repo structure, will the flat rep structure in netlink library be a good model for sriov library or do we have the need to create separate folders or packages for various sriov features such as switchdev, vdpa, general sriov etc?

[2021-07-07 06:57] adrianchiris commented on #187
if others plan to use the packages/libraries, the convention is to put it into a `pkg` directory within the project.  see[1]
so i dont think we need to do the same as [netlink](https://github.com/vishvananda/netlink).

[1] https://github.com/golang-standards/project-layout#go-directories

[2021-07-07 15:56] blackgold commented on #126
In our use case the job uses all IB devices for training. If even one device is not healthy the job will not run.
It will be nice to have some facility to fix the device.

[2021-07-14 12:19] adrianchiris commented on #187
This has been discussed in yesterday's community meeting.

agreement that having a project for common functionality that is desirable.

next steps would be:
1. decide on a name (proposed names: `sriov-utils`, `resource-mgmt-utils`, `common-utils`)
2. present idea to NPWG, get approval and create  the project
3. decide on project layout (positive approach in having stable/unstable folder to mark AP

[2021-07-14 15:02] pperiyasamy opened #189 "interface result parameter set for dpdk device"
### What happened?
The `k8s.v1.cni.cncf.io/networks-status` pod annotation contains `interface` parameter set to `net1`  for dpdk device.

[code]

### What did you expect to happen?

The interface parameter must not get displayed for dpdk device, This is because `result.Interfaces` is set [here ](https://github.com/k8snetworkplumbingwg/sriov-cni/blob/master/cmd/sriov/main.go#L82-L85) even for dpdk

[2021-07-14 15:05] pperiyasamy commented on #189
/cc @JanScheurich

[2021-07-15 11:31] adrianchiris commented on #189
Are there implications of keeping the interface name in results empty ? is that OK from[ CNI spec](https://github.com/containernetworking/cni/blob/master/SPEC.md#success) POV?

One thing i can think of is that we rely on it (to be provided in CmdAdd / CmdDel) to cache the state of the VF.
from CNI spec:

[2021-07-27 12:18] adrianchiris commented on #130
closing issue due to inactivity

[2021-07-27 12:18] #130 closed

[2021-08-02 15:56] adrianchiris commented on #187
I have created the [first issue](https://github.com/k8snetworkplumbingwg/resource-mgmt-utils/issues/1) in the new [project](https://github.com/k8snetworkplumbingwg/resource-mgmt-utils).

we should continue discussion there.
closing this issue so discussion may continue in the new repository

[2021-08-02 15:56] adrianchiris commented on #187
https://github.com/k8snetworkplumbingwg/resource-mgmt-utils/issues/1

[2021-08-02 15:56] #187 closed

[2021-08-03 11:25] zshi-redhat commented on #115
This issue was discussed in Monday's resource management meeting.
The idea is to review the code and improve the VF state restore in cmdAdd/cmdDel where necessary.

[2021-08-03 11:29] zshi-redhat commented on #146
Discussed in Monday's resource mgmt meeting.
Agreed that it may be worth implementing cmdCheck in sriov-cni, to check whether VF properties have been successfully applied and not changed during the pod lifecycle.

[2021-08-03 11:40] zshi-redhat commented on #189
Discussed in Monday's resource mgmt meeting:

Interface name is used as reference when caching the CNI config in sriov-cni, this is true also for dpdk interface. To remove it, there are several considerations:
1) sriov-cni may need to change to use pci ID or other unique identifier when caching cni config
2) interface name is passed down by Multus and not  used to configure the dpdk interface name

[2021-08-10 09:53] MichalGuzieniuk opened #190 "Possible resource exhaustion pkg/utils/utils.goGetVfid"
### What happened?
During code review I found that **pkg/utils/utils.go::GetVfid** tries to reads more data than it is available.

Please take a look at the **for** statement.
`for vf := 0; vf <= vfTotal; vf++ {`
The condition **less or equal** is incorrect, it should be **less than** instead.
https://github.com/k8snetworkplumbingwg/sriov-cni/blob/master/pkg/utils/utils.go#L57

**vfTotal** is get

[2021-08-10 11:26] adrianchiris commented on #190
yep, indeed a bug, thanks for reporting it in !

as a note, this has no side effects as it would then fail to find the path, continue and exit loop
https://github.com/k8snetworkplumbingwg/sriov-cni/blob/b790ad3d0baa962386b1541a167774dcde3e9500/pkg/utils/utils.go#L59

should be fixed though.

[2021-08-11 08:21] adrianchiris opened #192 "Add stable tag for sriov-cni container"
## What would you like to be added?

Similarly to sriov-network-device-plugin [PR#367](https://github.com/k8snetworkplumbingwg/sriov-network-device-plugin/issues/367) it is desirable to have a stable tag for sriov-cni container artifacts.

## What is the use case for this feature / enhancement?

Allow consumers to consume latest major version updates without updating their yamls. May aid automated

[2021-08-11 23:01] jwolfe-ns commented on #126
As a follow up, our post cmdDel() failure cleanup now resets the VF, which causes all E-Switch entries related to that VF to be removed also. This prevents MAC collisions in the E-Switch, as we are changing them for bonding. Since the host namespace only sees VFs that aren't assigned out, we can 'safely' reset all VFs we see without concern about their state.

Though we still have the race conditi

[2021-08-13 10:00] MichalGuzieniuk opened #193 "Consider updating beta.kubernetes.io/arch to kubernetes.io/arch"
## What would you like to be added?
Consider updating beta.kubernetes.io/arch to kubernetes.io/arch inside the example daemonset to keep documentation up to data.

https://github.com/k8snetworkplumbingwg/sriov-cni/blob/master/images/k8s-v1.16/sriov-cni-daemonset.yaml

## What is the use case for this feature / enhancement?
The **beta.kubernetes.io/arch** is deprecated since Kubernetes version 1.14

[2021-08-16 01:32] zshi-redhat commented on #193
@MichalGuzieniuk thanks for capturing the change!
Would you mind send a PR updating the nodeSelector labels?

[2021-08-16 08:19] MichalGuzieniuk commented on #193
@zshi-redhat sure, I will provide a PR for that issue.

[2021-08-24 12:52] adrianchiris commented on #190
addressed in #191

[2021-08-24 12:52] #190 closed

[2021-09-10 09:16] #193 closed

[2021-09-27 11:54] s1061123 opened #197 "no binary at release artifacts"
For easy-to-use, need x86/amd64 and other major platform binary in [release page](https://github.com/k8snetworkplumbingwg/sriov-cni/releases)

[2021-10-13 19:49] e0ne opened #198 "Release sriov-cni v2.6.2"
There are [few fixes](https://github.com/k8snetworkplumbingwg/sriov-cni/compare/v2.6.1...master) since the last release in June. It would be good to make a new release to use it in SR-IOV Network Operator

[2021-10-21 01:32] zshi-redhat commented on #198
+1

[2021-11-10 07:37] #198 closed

[2021-11-10 08:10] adrianchiris commented on #197
Can use goReleaser GA to automate this.
https://goreleaser.com/ci/actions/

[2022-01-24 23:45] shankar-bala opened #201 "DeviceId, min_tx_rate, max_tx_rate in the NAD not taking effect."
## What issue would you like to bring attention to?
DeviceId, min_tx_rate, max_tx_rate in the NAD not taking effect.
I have a NAD and pod with the following spec. My expectation was that the pod should be assigned to the VF that pertains to the deviceID given in the NAD. But i see the pod comes up with an interface with a random VF. Similarly i dont see the max_tx_rate configs taking effect either

[2022-01-25 00:37] zshi-redhat commented on #201
@shankar-bala The device ID is randomly chosen by kubelet if you have multiple devices in the resource Pool, so this is the expected behavior if sriov-network-device-plugin or sriov-network-operator is used in your deployment.

Re max tx rate, the json string for it would be `max_tx_rate`, you may want to try replace underscores with dash in the NAD.

[2022-01-25 02:56] shankar-bala commented on #201
Thanks a lot for the comments. Appreciate it...

[2022-01-25 02:57] shankar-bala commented on #201
One more quick clarification, in what cases does the deviceID work then ?

[2022-01-25 02:59] zshi-redhat commented on #201
In the case that `deviceID` (pci address of the VF) is specified in the NAD and resource request is not added in the pod manifest. btw, this is not a recommended way since it doesn't scale.

[2022-01-25 03:13] shankar-bala commented on #201
Awesome.. thanks, yes removing the resources worked. The max_tx_rate seems to work. But min_tx_rate does not. It errors.

 SRIOV-CNI failed to configure VF "failed to set vf 0 min_tx_rate to 200 Mbps: max_tx_rate to 0 Mbps: invalid argument"

[2022-01-25 04:13] zshi-redhat commented on #201
Some Intel cards don't support min_tx_rate afaik.

[2022-02-16 23:35] supreeth90 opened #202 "sriov-cni v2.6.2 container image security vulnerabilities"
### What happened?
HIGH vulnerabilities found in sriov-cni version 2.6.2 container image(ghcr.io/k8snetworkplumbingwg/sriov-cni:v2.6.2)

#### REPORT:
$trivy i --no-progress -s HIGH,CRITICAL  --vuln-type os  --exit-code 1 ghcr.io/k8snetworkplumbingwg/sriov-cni:v2.6.2
2022-02-16T23:32:48.270Z	INFO	Detected OS: alpine
2022-02-16T23:32:48.270Z	INFO	Detecting Alpine vulnerabilities...

ghcr.io/k8snetwo

[2022-02-28 21:30] xagent003 opened #203 "SRIOV IP and interface lost inside container after upgrade from 2.5 to 2.6"
We upgraded from sriov-CNI v2.5 to v2.6, and device-plugin from v3.3.1 to v3.3.2. And multus from v3.6 to v3.7.2. We are NOT using Openshift operator. We have deployed the daemonsets manually using our own operator.

After upgrade, the SRIOV Pods lost the IP and net1 interface from within. But Pod IP annotation still shows the IP under "kubectl describe", "ip link" even shows the VF assigned MAC/v

[2022-03-01 02:04] zshi-redhat commented on #203
/cc @wizhaoredhat

[2022-03-01 05:45] xagent003 commented on #203
False alarm! We have another service that configures the VFs and drivers. The VF driver was getting reconfigured during upgrade.

Just wondering FYI by what mechanism does reconfiguring the VF driver, to even the same one, cause the net1 to disappear from container?

The process for configuring VF driver for us is:

 - write PCI addr of existing VF to /sys/bus/pci/drivers/<old_drivername>/unbind

[2022-03-01 05:45] #203 closed

[2022-03-07 16:55] rollandf commented on #202
I will take a look

[2022-03-08 01:00] zshi-redhat commented on #202
/cc @wizhaoredhat

[2022-04-14 14:26] SchSeba commented on #201
@shankar-bala as @zshi-redhat point out intel cards don't support min_tx_rate this is not something the operator can't handle it depends on the driver.

will it be ok to close this issue?

[2022-04-14 16:02] seb-835 opened #206 "SRIOV-CNI failed to load netconf"
### What happened?
Hi Team, can i request your help, i do not know if i forget something in the setting or if it is a bug.

I launch a test pod to test my installation, we use infiniband using Mellanox ConnectX-6 Card.
CNI, DEVICE where created with manifest from your repository
Multus was installed previously with Kubespray and run right with Calico as default CNI

[code]
 but he do not start :
[

[2022-04-14 17:52] adrianchiris commented on #206
sriov device plugin allocated the physical function as the `device` selector points to it. please change the value from `101b` to `101e` which is the PCI device id of ConnectX6 VF

[2022-04-15 05:47] seb-835 commented on #206
Hi , thanks a lot !!! I missed that,
i change it to 101C has my card is a ConnectX6 , not ConnectX6 DX

ConnectX6 ; 101B
ConnectX6 VF : 101C
ConnectX6 DX : 101D
ConnectX6 DX VF : 101E

[2022-04-15 05:47] #206 closed

[2022-04-26 15:24] SchSeba commented on #201
no answer for 12 days closing this issue.

if you need more help, please feel free to reopen the issue

[2022-04-26 15:24] #201 closed

[2022-05-03 18:38] sandeep-robin opened #207 "Enhance debugging for SRIOV"
## What would you like to be added?

Need more debug logs for request and response for cmdAdd and while calling device plugin
## What is the use case for this feature / enhancement?
helps in understanding what vf is assigned and what is request passed to CNI during cmdAdd or cmdDel

[2022-05-11 10:03] seb-835 opened #208 "SRIOV-CNI failed to configure VF "failed to set vf 2 vlan: operation not supported"
### What happened?
Hi Team, can i request your help, i do not know if i forget something in the setting or if it is a bug.

I launch a test pod to test my installation, we use infiniband using Mellanox ConnectX-6 Card.
CNI, DEVICE where created with manifest from your repository
Multus was installed previously with Kubespray and run right with Calico as default CNI

[code]
 but he do not start :

[2022-05-17 09:14] SchSeba commented on #208
Hi @seb-835 can you please try and check dmesg?

also please try to run the command manually to check if you see the same error. (if that is the case looks like a driver issue)

`ip link set <pf-interface> vf 2 vlan 0`

[2022-05-17 09:28] SchSeba commented on #207
Hi @sandeep-robin thanks for opening the issue!

the CNI runs when multus is calling it, does changing multus logs to debug give you enough information?
https://github.com/k8snetworkplumbingwg/multus-cni/blob/master/docs/configuration.md

[2022-05-18 10:19] adrianchiris commented on #208
ib0 is Infiniband link type.
you should use SriovIbNetwork CR for it (which uses ib-sriov-cni)

[2022-06-14 12:03] adrianchiris commented on #208
@seb-835 did you manage to get this to work when using ib-sriov cni[1] ?

[1] https://github.com/k8snetworkplumbingwg/ib-sriov-cni

[2022-07-19 05:40] joelcheison opened #212 "VF configs are not reset when SetupVF fails"
What happened?

In a scenario where a VF setup setup fails (SetupVF method), the VF will not be reset to its original configuration by sriov-cni. The VF will only be moved from pod namespace to default namespace by the ReleaseVF method. The ResetVF method is not called in the error hander function.

If the VF had been configured using the extended configuration parameter of the sriov-cni NAD, then

[2022-07-19 07:32] joelcheison commented on #212
diff --git a/cmd/sriov/main.go b/cmd/sriov/main.go
index 12e5925..4a9c2e4 100644
--- a/cmd/sriov/main.go
+++ b/cmd/sriov/main.go
@@ -94,6 +98,8 @@ func cmdAdd(args *skel.CmdArgs) error {
 				})
 				if err == nil {
 					_ = sm.ReleaseVF(netConf, args.IfName, args.ContainerID, netns)
+					// Reset the VF if failure occurs before the netconf is cached
+					_ = sm.ResetVFConfig(netConf)**
 				}

[2022-07-19 07:43] joelcheison opened #213 "VF stuck in \"device or resource busy\" while using sriov-cni extended configurations"
### What happened?
While using sriov-cni with a NAD that has extended configurations (vlan, spoofcheck, trust-mode etc), the pods fail to come up.
From the /var/log/messages we could see errors like below:

_Failed to create pod sandbox: rpc error: code = Unknown desc = failed to setup network for sandbox "539d9217f6b46b2450f8b3e1bf2b0c8a09d5d89ca80fd61d050124dac39be488": plugin type="multus" name

[2022-07-19 12:18] joelcheison opened #214 "DPDK Usecase: SRIOV-CNI to revert the MAC to OriginalVfState even if not configured using it."
## What would you like to be added?
sriov-cni stores the Original VF configuration as a part of its workflow. In the case of mac address, sriov-cni only resets the mac address to the original VF state if the mac was configured using the NAD's extended configuration for sriov-cni.

In the DPDK usecase the mac address of the VF is usually set by the dpdk application inside the pod. However the appli

[2022-07-25 07:08] joelcheison opened #215 "PCI Address to NAD mapping"
In cases with pods having more than one container that needs SRIOV/DPDK devices, there is no way currently to select which device on which container to assign the configurations on the NAD to.

[sandbox-multicontainer.txt](https://github.com/k8snetworkplumbingwg/sriov-cni/files/9178730/sandbox-multicontainer.txt)

The above POD has 4 NADs:
bgf-media-dpdk-net
bgf-media-dpdk-net-right
bgf-int-dpdk-n

[2022-07-25 12:36] adrianchiris commented on #215
IIUC, knowing network to device mapping would solve your problem.

are you familiar with device-info-spec ? [1] , see example of annotation exposed by multus [2]

[1] https://github.com/k8snetworkplumbingwg/device-info-spec/blob/main/SPEC.md
[2] https://github.com/k8snetworkplumbingwg/device-info-spec/blob/main/SPEC.md#612-example

[2022-08-04 11:52] SchSeba commented on #215
closing this issue

[2022-08-04 11:52] #215 closed

[2022-08-04 11:58] SchSeba commented on #214
Hi @joelcheison if the mac address is hardcoded why not let the sriov-cni always configure and revert it?

example in the pod definition

[code]

[2022-08-04 14:55] joelcheison commented on #214
If the mac is set in the NAD, then one NAD needs to be created for each pod. Whereas if we configure parameters like VLAN, spoofchk etc, one NAD can serve multiple pods. And a set of pods that hardcodes one mac address for each pod could still use a single NAD.

[2022-08-11 09:52] SchSeba commented on #202
@rollandf should we just switch the image to centos or something else?

[2022-08-11 10:06] rollandf commented on #202
@SchSeba Yes, agree.

[2022-08-11 15:02] #207 closed

[2022-08-17 12:07] SchSeba commented on #214
How you configure the mac address on every pod?

The example I gave you is a pod definition not a NAD definition

[2022-08-22 14:45] subratust opened #218 "Multus-cni is not supported in Azure even if Azure Managed K8S as well"
Tried install k8s on the top of the Azure vm enabled with Accelerated Network (Mellnox) .Checked with Microsoft Azure team ,as per them Multus CNI is not supported in Azure even if Azure Managed K8S as well .But which works for AWS .Could you please verify from your end or Help me out to setup on Azure vm .

[2022-08-23 10:45] SchSeba commented on #218
Hi @subratust sorry I don't understand the request there.

[2022-08-23 16:05] ormergi opened #219 "VFs may get reseted after being allocated by other pod"
### What happened?
In the scenario where pods with SR-IOV interface from the same resource pool are created and deleted a few times,
the underlying VF may end up with a default configuration instead of the desired one (i.e: no MAC address, no VLAN).

### What did you expect to happen?
The pod underlying VF is to be configured correctly.

### What are the minimal steps needed to reproduce the bug?

[2022-08-23 16:07] ormergi commented on #219
Pod manifest for example:
[code]

[2022-08-24 12:29] ormergi commented on #219
Script and manifests I used in order to reproduce this https://gist.github.com/ormergi/3ddbf901ddc95baf316b604994285a69.
Journal log from one of the iterations when the issue occurred https://pastebin.com/eGhyrevk.

[2022-08-24 16:11] SchSeba commented on #219
Hi @ormergi can this be related to https://github.com/k8snetworkplumbingwg/sriov-cni/issues/126 ?

[2022-08-25 10:31] ormergi commented on #219
It seems that #126 is about kubelet wont keep the pod alive so that the plugin will execute.
In our case, the plugin executes as we can see the VFs get reset after the pod is allegedly disposed though.

[2022-08-25 10:32] ormergi commented on #219
@SchSeba thanks for looking at this.
It seems that #126 is about kubelet won't keep the pod alive so the plugin will manage to execute.
In our case, the plugin executes as we can see the VFs get reset after the pod is allegedly disposed though.

[2022-08-25 13:41] SchSeba commented on #219
@ormergi will you be able to provide the logs from multus? that is the only way we will be able to try and trace the issue I think

[2022-08-25 14:25] ormergi commented on #219
@SchSeba are these logs good enough https://pastebin.com/eGhyrevk?
This is a journal log of the node since the pod was created + 1 minute before, it also includes Multus logs.

[2022-08-30 09:33] ormergi commented on #219
/cc

[2022-08-30 12:54] SchSeba commented on #126
Hi @YitzyD @blackgold question can you share your pod yaml?

just to be sure are you using `  terminationGracePeriodSeconds: 0` ?

[2022-08-30 12:58] SchSeba commented on #126
Also with container runtime are you using? I try this with crio and I am not able to reproduce the issue after using https://github.com/k8snetworkplumbingwg/sriov-cni/issues/219

[2022-09-07 16:45] adrianchiris commented on #212
i believe this relates to:

https://github.com/k8snetworkplumbingwg/sriov-cni/issues/115

[2022-09-20 10:20] sumitk31 opened #224 "Can this plugin be used with Docker containers? If Yes, please point to the documentation."
## What issue would you like to bring attention to?

## What is the impact of this issue?

## Do you have a proposed response or remediation for the issue?

[2022-09-21 04:10] ankush06 opened #225 "with DPDK userspace driver config, how to attach the dummy interface inside the container"
hi,

I am looking for a configuration to attach a dummy interface inside a container and assign the allocated IP.
This is required for an app to bound to an interface.

If   DPDK userspace driver config does not attach a interface inside a container, then how the app is actually going to make use of it?

Sorry, i am new to SRIOV and DPDK domain, so these questions may sound silly. Any reference to

[2022-09-21 09:56] adilGhaffarDev commented on #213
I have a question regarding this issue, can we add check if device or resource is busy we add wait and retry for few times and if keeps in that state we return error else continue with remaining run.

[2022-09-21 11:58] SchSeba commented on #225
Hi @ankush06 please check the https://doc.dpdk.org/guides/

in general DPDK use user-space drivers to bypass the kernel networking

[2022-09-21 11:59] SchSeba commented on #224
Hi @sumitk31 I never try something like that so I don't know. This CNI plugin is to be used as a secondary nic in k8s by multus-cni

[2022-09-21 12:57] SchSeba commented on #218
no updates in 29 days closing this issue please feel free to reopen if needed

[2022-09-21 12:57] #218 closed

[2022-09-21 14:41] SchSeba commented on #213
@adilGhaffarDev why we need to retry?
if we didn't manage to configure we will return an error and multus will call the cni again.

I don't think is a good idea to add retries to the sriov itself, if we have retry here we will not return an error to multus so it will be super hard in the future to understand why the sriov-cni is still running after some time.

[2022-10-17 03:16] flyfish002 opened #229 "go versrion 1.19 bulid error"
os:   Ubuntu 20.04.5 LTS \n \l
kernel:   5.4.0-128-generic
go version:     go1.19

cd sriov-cni/
make

* can't run linter goanalysis_metalinter: goanalysis_metalinter: buildir: package "atomic" (isInitialPkg: false, needAnalyzeSource: true): T

[2022-10-17 07:43] zeeke commented on #229
hi @flyfish002, thank you for reporting.
can you post the full `make` command output?

also, can you try upgrading golangci version to 1.49:
- check current version with `./bin/golangci-lint --version` (should be 1.45)
- edit Makefile [here](https://github.com/k8snetworkplumbingwg/sriov-cni/blob/master/Makefile#L66) with
[code]
- then
[code]

[2022-11-02 08:16] Summerbluesea commented on #208
Hi, I have the same issue, did you find a way to solve this problem?

[2022-11-02 09:11] adrianchiris commented on #208
@Summerbluesea  there is no VLAN in Infiniband there is PKEY (similar yet different).

you need to use SriovIbNetwork CR if you are using sriov-network-operator.
if its just cni, you should use ib-sriov-cni as i wrote on june 14

[2022-11-07 13:49] cyclinder opened #230 "Request: publish a new release"
## What would you like to be added?

Hi teams! Four months have passed since the last release, during which we had the following two major PRs:

- [Send IPv4 GARP and IPv6 Unsolicited NA in "cmdAdd"](https://github.com/k8snetworkplumbingwg/sriov-cni/pull/216)
- [bump golang to 1.19](https://github.com/k8snetworkplumbingwg/sriov-cni/pull/228) && [bump netlink&cni version and support add ecmp route]

[2022-11-07 13:50] cyclinder commented on #230
@adrianchiris

[2022-11-07 17:06] adrianchiris commented on #230
+1

should we also try to add PRs #220 and #222 as well for the release ? (i think yes)

@SchSeba  @Eoghan1232 thoughts ?

[2022-11-10 07:13] joelcheison opened #231 "Multidevice network ordering and network to device mapping not clearly documented."
Hi,

When it comes to multiple VF resources and pods with multiple containers, there is not a clear documentation of how the network-definitions are applied onto the resources.

Even with the use of the device-info spec annotation[k8s.v1.cni.cncf.io/resourceName] on the NAD the mapping can get confusing.

Example:

If the requirement is to have a pod with 2 containers and both containers get 2 VFs

[2022-11-10 08:17] adilGhaffarDev commented on #230
Unit tests were failing in #222 now its resolved. Kindly check.

[2022-11-14 15:30] SchSeba commented on #230
+1

[2022-11-15 14:45] adrianchiris commented on #230
After discussion in community meeting on Nov 15, it was agreed have a release of sriov CNI.

In addition, the following PRs should also be part of the release:

 #220
#222

[2022-11-17 13:09] #219 closed

[2022-11-17 17:12] ormergi commented on #219
@adrianchiris is there a planned release so we could consume the fixed version? :slightly_smiling_face:

[2022-11-21 16:21] adrianchiris opened #233 "CNI CMD Add - Avoid relying on err var in cleanup"
Currently if `cmdAdd` function fails, we rely on top level `err` error variable to determine if cleanup needs to occur via `defer` statements [1]
This is brittle as `err` variable may be re-declared in inner-scope masking it and in case of error in inner scope causing the deferred functions to behave in an un-desirable manner (essentially do nothing)

we should come up with a better mechanism for

[2022-11-21 16:33] adrianchiris commented on #231
Greetings !

That seems to be related to the the caller of sriov-cni which provides a device ID to be used to set up the interface for the network. i.e in multus CNI.

there are some additional quirks with how things are working today, as networking is done at pod level (pod has network namespace which is shared by all containers) but resources are container level.

[2022-11-24 10:25] cyclinder commented on #230
Hi @adilGhaffarDev , Both of the above PRs have been merged, is it time to new a release?  :)

[2022-11-24 12:29] adilGhaffarDev commented on #230
Thank you for merging my PR, I don't have anything else that needs to be merged from my side, so ok for me. 👍🏽

[2022-11-24 12:33] cyclinder commented on #230
hahah... I'm so sorry, Your name and @adrianchiris  are too similar, so I misread the name, I am very sorry and thank you for your reply 😂

[2022-11-24 12:59] Eoghan1232 commented on #230
both PR's are now merged.
@adrianchiris think we are good to go on next release?

[2022-11-24 13:00] adrianchiris commented on #230
id like to get PR #232 in as well. it has been reviewed, pending CI job to pass.

stay tuned for release.

[2022-11-24 13:04] adrianchiris commented on #230
was planning to wait for CI to pass on the PR.  lets wait for Mellanox CI job to complete before release.

[2022-11-24 17:15] adrianchiris commented on #230
v2.7.0 has been released !

[2022-11-24 17:15] #230 closed

[2022-11-28 07:55] s1061123 opened #235 "Does sriov-cni still support Kubernetes 1.10-1.22?"
This is not a issue, just a question. Does sriov-cni still support Kubernetes 1.10-1.22?

Currently Kubernetes mentioned to maintain 1.25, 1.24 and 1.23, as supported version (see [Release page](https://kubernetes.io/releases/)), however in sr-iov `image` repo, there are still deployment yaml file for 1.10-1.15 and I just wonder whether sr-iov repo still supports these old version or not.

[2022-11-28 11:01] SchSeba commented on #235
+1

[2022-11-29 16:14] YitzyD commented on #126
@SchSeba After investigating further, this seems to be an issue related to docker-shim and as you said, after #220 the issue does seem to be resolved.